@{
    ViewBag.Title = "அசை";
}
<div id="mainHelp" class="p-md">

</div>
@{ Html.RenderPartial("_CommonKendoTemplates"); }
<script>
    $(document).ready(function () {
        Utility.setHelp('asai', 'https://www.youtube.com/embed/AH4bCeBXFm4?start=548');
    });
</script>