@{
    ViewBag.Title = "எழுத்து வகைபிரி";
}
<div id="mainHelp" class="p-md">

</div>
@{ Html.RenderPartial("_CommonKendoTemplates"); }
<script>
    $(document).ready(function () {
        Utility.setHelp('thodai', null);
    });
</script>