@{
    ViewBag.Title = "மென்யாப்பு";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title">
            வாக்கியத்தை உள்ளிடவும்
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                    <div class="row row-sm">
                        <div class="col-md-6">
                            <h4 class="main-title">
                                வாக்கியம்
                            </h4>
                            <textarea class="panelbar-textarea" id="ProsodyText" rows="2"></textarea>
                        </div>
                        <div class="col-md-6">
                            <h4 class="main-title">
                                மாத்திரை எண்ணிக்கை
                            </h4>
                            <input type="text" id="MathiraiCount" class="panelbar-text form-control" />
                            <div id="rightMathiraiCount" class="type-t5">
                                <div>சரியான மாத்திரை எண்ணிக்கை</div>
                                <input type="text" id="CalculatedMathiraiCount" disabled="true" class="panelbar-text form-control" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <h4 class="main-title">
                                முடிவு
                            </h4>
                            <div class="type-t3">
                                <button id="correct" class="right btn btn-primary" aria-hidden="true">சரி</button>
                                <button id="incorrect" class="wrong btn btn-primary" aria-hidden="true" data-toggle="tooltip" data-placement="right">
                                    தவறு
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm">
                        <div class="col-md-6">
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">சரி பார்த்திடு</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

<script type="text/x-kendo-template" id="mathiraiTemplate">
    # var mathiraiInSeer = ""; var key = 0; #
    # for (var l=0; l < mathiraiCount.length; l++) { #
    # $.each(mathiraiCount[l], function(mathiraiKey, mathiraiValue) { #
    # if (key !== Object.keys(mathiraiCount[l]).length - 1) { #
    # mathiraiInSeer = mathiraiInSeer + '<ruby><span class="uiTrant">' + mathiraiKey + '</span><rt>' + mathiraiValue + ' + </rt></ruby>  '; #
    # } else { #
    # mathiraiInSeer = mathiraiInSeer + '<ruby><span class="uiTrant">' + mathiraiKey + '</span><rt>' + mathiraiValue +  '</rt></ruby>  '; #
    # } #
    # key++; #
    # }) #
    # mathiraiInSeer = mathiraiInSeer + '<ruby><span class="uiTrant">' + '&nbsp;' + ' </span><rt>' + ' = ' + totalMathiraiCount + '</rt></ruby><br />'; #
    # } #
    #= mathiraiInSeer #
</script>
<script>
    $(document).ready(function () {

        // event handler for select
        var onSelect = function (e) {
            // access the selected item via e.item (HTMLElement)
            var item = e.sender.select();

            if (item.hasClass("k-state-active")) {
                e.sender.collapse(item);
            } else {
                e.sender.expand(item);
            }
        };
        var seyyulPanelBar = $("#seyyulbar").kendoPanelBar({
            expandMode: "single",
            select: onSelect
        }).data("kendoPanelBar");
        seyyulPanelBar.expand($(".k-first"), true);

        function showCorrect() {
            $("#correct").css('display', 'inline-block');
            $("#incorrect").css('display', 'none');
        }
        function showIncorrect() {
            $("#correct").css('display', 'none');
            $("#incorrect").css('display', 'inline-block');
        }

        function hideBoth() {
            $("#correct").css('display', 'none');
            $("#incorrect").css('display', 'none');
        }

        hideBoth();
        $("#rightMathiraiCount").css('display', 'none');

        $("#prosodyForm").submit(function () {
            $("#rightMathiraiCount").css('display', 'none');
            var shouldCompareVenpaRules = $("#ShouldCompareVenpaRules").is(':checked');
            var data = '{"InputText" : "' + $("#ProsodyText").val() + '"' +
                '}';
            $.ajax({
                url: '/api/Prosody/MathiraiCount',
                data: data,
                contentType: 'application/json; charset=utf8',
                type: 'POST',
                async: false,
                success: function (data) {
                    var mathiraiTemplate = kendo.template($("#mathiraiTemplate").html());
                    $("#CalculatedMathiraiCount").val(data["TotalMathiraiCount"]);
                    if (parseFloat($("#MathiraiCount").val()) !== data["TotalMathiraiCount"]) {
                        $("#rightMathiraiCount").css('display', 'block');
                        showIncorrect();
                        $('#incorrect').attr('data-html', 'true');
                        $('#incorrect').attr('data-original-title', mathiraiTemplate({
                            mathiraiCount: data["MathiraiCount"],
                            totalMathiraiCount: data["TotalMathiraiCount"]
                        }));
                    } else {
                        showCorrect();
                    }
                },
                error: function (data) {
                    alert('error');
                }
            });
            return false;
        });
    });
</script>