<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RedisUri" value="localhost"/>
    <add key="AzureRedisUri" value="redis://xcYBxyO+l24Bebqtjp5VlMIDMKHop29q9/si4J2BiPY=@menyappu.redis.cache.windows.net:6380?ssl=true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
