@{
    ViewBag.Title = "அடி அளவிடு";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title" data-localize="inputMetricalLine">
            <span class="ltext"></span>
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/AdiMeasurer" method="POST">
                    <div class="row">
                        <div class="col-md-8" id="input">
                         </div>
                        <div class="col-md-8 hidden" id="adiSelector">
                            <h4 class="game-section-title text-center" data-localize="metricalLineTypes">
                                <span class="ltext"></span>
                            </h4>

                            <div id="adiType" class="type-t7 text-center">
                                <p class="form-group-label" data-localize="metricalLineType"><span class="ltext"></span></p>
                                <div class="dropdown">
                                    <button id="adi-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" role="button" aria-expanded="false" data-localize="selectAMetricalLineType"><span class="ltext"></span><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="adi-dropdown">
                                        <li><a href="#">தனிச்சொல்</a></li>
                                        <li><a href="#">குறளடி</a></li>
                                        <li><a href="#">சிந்தடி</a></li>
                                        <li><a href="#">அளவடி</a></li>
                                        <li><a href="#">நெடிலடி</a></li>
                                        <li><a href="#">கழிநெடிலடி</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="control-group text-center">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary btn-with-glyph" data-localize="checkAnswer"><i class="glyph glyph-arrow-right"></i><span class="ltext"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 hidden" id="result">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

<script type="text/x-kendo-template" id="adiTemplate">
    <span class="type-t5" data-localize="countOfMetricalLines"><span class="ltext"></span>: #= adigal.length #</span>
    <br />
    <table border=0 cellspacing=10 class="text-left">
        <tr>
            <th>அடி</th>
            <th>அடி வகை</th>
        </tr>
        # for (var i = 0; i < adigal.length; i++) { #
        <tr>
            <td> #= adigal[i] #</span></td>
            <td> <span class="adi   "> #= adiVagaigal[i] # </span></td>
        </tr>
        # } #
    </table>

</script>
@{ Html.RenderPartial("_CommonKendoTemplates"); }

<script src="/Scripts/prosody/AdiMeasurer.js"></script>
<script>
    $(document).ready(function () {
        AdiMeasurer.init();
        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            var data = '{"inputText" : "' + $("#ProsodyText").val() + '"' + '}';
            ProsodyService.adiMeasurer(data, AdiMeasurer.showOutputWithResult);
        });
        return false;
    });
</script>