@{
    ViewBag.Title = "எதுகை மோனை எழுது";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title">
            சொல்லை உள்ளிடவும்
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="game-section-title">
                                <b>சொற்கள்</b>
                            </h4>
                            <h4 class="game-section-title">
                                முதலாவது சொல்
                            </h4>
                            <input type="text" id="monaiInputText" class="panelbar-text form-control"/>
                            <h4 class="game-section-title">
                                முதலாவது சொல்
                            </h4>
                            <input type="text" id="ethukaiInputText" class="panelbar-text form-control"/>
                            <h4 class="game-section-title">
                                முதலாவது சொல்
                            </h4>
                            <input type="text" id="iyaipuInputText" class="panelbar-text form-control"/>
                        </div>
                        <div class="col-md-8 hidden" id="thodaiSelector">
                            <h4 class="game-section-title">
                                <b>சொற்கள்</b>
                            </h4>
                            <h4 class="game-section-title">
                                மோனைச் சொல்
                            </h4>
                            <input type="text" id="monaiText" class="panelbar-text form-control" />
                            <h4 class="game-section-title">
                                எதுகைச் சொல்
                            </h4>
                            <input type="text" id="ethukaiText" class="panelbar-text form-control"/>
                            <h4 class="game-section-title">
                                இயைபுச் சொல்
                            </h4>
                            <input type="text" id="iyaipuText" class="panelbar-text form-control"/>

                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary btn-with-glyph" id="example"><i class="glyph glyph-import"></i>மாதிரி</button>
                                    <button type="submit" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-arrow-right"></i>சரி பார்த்திடு</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 hidden" id="result">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

@{ Html.RenderPartial("_CommonKendoTemplates"); }

<script src="/Scripts/prosody/EthukaiMonaiFinder.js"></script>
<script>
    $(document).ready(function () {
        EthukaiMonaiFinder.init();

        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            /*var data = '{"EthukaiPair" : { "InputText" : "' + $("#ethukaiInputText").val().trim() + '", "ThodaiText" : "' + $("#ethukaiText").val().trim() + '"},'
                + '"MonaiPair" : { "InputText" : "' + $("#monaiInputText").val().trim() + '", "ThodaiText" : "' + $("#monaiText").val().trim() + '"},'
                + '"IyaipuPair" : { "InputText" : "' + $("#iyaipuInputText").val().trim() + '", "ThodaiText" : "' + $("#iyaipuText").val().trim() + '"} }'; */
            var data = '{"thodaiPairs" : [{ "inputText" : "' + $("#monaiInputText").val().trim() + '", "thodaiText" : "' + $("#monaiText").val().trim() + '"},'
                + '{ "inputText" : "' + $("#ethukaiInputText").val().trim() + '", "thodaiText" : "' + $("#ethukaiText").val().trim() + '"},'
                + '{ "inputText" : "' + $("#iyaipuInputText").val().trim() + '", "thodaiText" : "' + $("#iyaipuText").val().trim() + '"}] }';
            ProsodyService.thodaiChecker(data, EthukaiMonaiFinder.showOutputWithResult);
            return false;
        });
    });
</script>