@{
    ViewBag.Title = "மென்யாப்பு";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title">
            சொல்லை உள்ளிடவும்
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                    <div class="row row-sm">
                        <div class="col-md-8">
                            <h4 class="game-section-title text-center">
                                சொல்
                            </h4>
                            <textarea class="panelbar-textarea" id="ProsodyText" rows="2"></textarea>
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary btn-with-glyph" id="example"><i class="glyph glyph-import "></i>மாதிரி</button>
                                    <button type="submit" class="btn btn-primary btn-with-glyph" id="checkResult"><i class="glyph glyph-message"></i>சரி பார்த்திடு</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 hidden" id="ezhuthuTypeSelector">
                            <h4 class="game-section-title text-center">
                                எழுத்து வகைகள்
                            </h4>
                            <div id="ezhuthuCalculator" class="text-center tetx-t4">
                                <span>எண்ணிக்கை:</span>
                                <span id="ezhuthuCount"></span>
                            </div>
                            <div id="ezhuthuTypes" class="type-t7">

                            </div>
                        </div>

                        <div class="col-md-8 hidden" id="result">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

<script type="text/x-kendo-template" id="ezhuthuVagaiSelectorTemplate">
    # var ezhuthuVagaiId = 'ezhuthuVagai-dropdown-' + ezhuthuVagaiIndex; #
    <tr>
        <td>
            <div class="type-t5 text-right">#= ezhuthu + ':'#</div>
        </td>
        <td>
            <!--<p class="form-group-label">எழுத்து வகைகள்</p>-->
            <div class="dropdown">
                <button id="#= ezhuthuVagaiId #" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    எழுத்து வகையைத் தேர்ந்தெடு<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="#= ezhuthuVagaiId #">
                    <li><a href="\\#">குறில்</a></li>
                    <li><a href="\\#">நெடில்</a></li>
                    <li><a href="\\#">மெய்</a></li>
                    <li><a href="\\#">ஆய்தம்</a></li>
                </ul>
            </div>
        </td>
    </tr>
</script>
<script type="text/x-kendo-template" id="ezhuthuVagaiTemplate">
    # var mathiraiInSeer = ""; var key = 0; var l = 0; #
    # for(var w=0; w < detailedMathiraiCount.length; w++) { #
    # $.each(detailedMathiraiCount[w], function(detailedMathiraiKey, detailedMathiraiValue) { #
    # mathiraiInSeer = mathiraiInSeer + '&nbsp;' #
    # $.each(detailedMathiraiValue, function(mathiraiKey, mathiraiValue) { #
    # var rubyStyle = l === Object.keys(detailedMathiraiValue).length - 1 ? "margin-right:10px" : "margin-right:0px"; #
    # var letter = mathiraiKey.split(":")[1]; #
    # mathiraiInSeer = mathiraiInSeer + '<ruby style="' + rubyStyle + '">'+'<span class="uiTrant type-t7">' + letter + '</span><rt class="' + LetterType.letterCssClasses[mathiraiValue.LetterType] + '">' + mathiraiValue.LetterType +  '</rt></ruby>  '; #
    # l++; #
    # }) #
    # l = 0; key++; #
    # }) #
    # } #
    #= mathiraiInSeer #
    <hr />
    <span class="kuril m-r-xxs type-t9">கு – குறில்</span>
    <span class="nedil m-r-xxs type-t9">நெ – நெடில்</span>
    <span class="otru m-r-xxs type-t9">மெ – மெய்</span>
    <span class="aytham m-r-xxs type-t9">ஃ - ஆய்தம்</span>
</script>

@{ Html.RenderPartial("_CommonKendoTemplates"); }

<script type="text/x-kendo-template" id="ezhuthuVagaiHelpTemplate">
    <audio id="aud-mathirai" preload="auto">
        <source src="/audio/mathirai.mp3" controls>
        Your browser isn't invited for super fun audio time.
    </audio>
    <div class="helptext">
        <span class="type-t6">மாத்திரை</span>
        <br />
        எழுத்து ஒலி அளவு மாத்திரை எனப்படும்.
    </div>
    <button id="play-mathirai" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-play"></i>ஒலி</button>
    <button id="play-mathirai" class="btn btn-primary btn-with-glyph" data-toggle="modal" data-target="\#modal-video-mathirai"><i class="glyph glyph-video"></i>நிகழ்படம்</button>
    <br />
    <br />
    <table class="table theme-alt type-t9">
        <thead>
            <tr>
                <th>எழுத்து</th>
                <th>மாத்திரை</th>
            </tr>
        </thead>
        <tbody>
            <tr class="kuril">
                <td>குறில்</td>
                <td>1</td>
            </tr>
            <tr class="nedil">
                <td>நெடில்</td>
                <td>2</td>
            </tr>
            <tr class="otru">
                <td>ஒற்று/மெய்</td>
                <td>½</td>
            </tr>
            <tr class="aytham">
                <td>ஆய்தம்</td>
                <td>½</td>
            </tr>
        </tbody>
    </table>

    <div class="modal modal-center-vertical" id="modal-video-ezhuthuVagai" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-sample-label">
                        மென் யாப்பு
                    </h4>
                </div>
                <div class="modal-body text-center">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/AH4bCeBXFm4?start=212" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        மூடு
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="/Scripts/prosody/LetterType.js"></script>
<script>
    $(document).ready(function () {
        // set the context help
        var ezhuthuVagaiHelpTemplate = kendo.template($("#ezhuthuVagaiHelpTemplate").html());
        Utility.setContextHelp(ezhuthuVagaiHelpTemplate({}));
        var audioMathirai = $("#aud-mathirai")[0];
        $("#play-mathirai").mouseenter(function () {
            audioMathirai.play();
        });
        $("#play-mathirai").mouseleave(function () {
            audioMathirai.pause();
        });
        // event handler for select
        var onSelect = function (e) {
            // access the selected item via e.item (HTMLElement)
            var item = e.sender.select();

            if (item.hasClass("k-state-active")) {
                e.sender.collapse(item);
            } else {
                e.sender.expand(item);
            }
        };
        var seyyulPanelBar = $("#seyyulbar").kendoPanelBar({
            expandMode: "single",
            select: onSelect
        }).data("kendoPanelBar");
        seyyulPanelBar.expand($(".k-first"), true);

        Utility.disableElement("checkResult");
        Utility.hideResult();
        Utility.hideElement("rightMathiraiCount");
        Utility.setupExample('/api/prosody/Seergal', 'seer');
        $("#ezhuthuTypes").on('click', '.dropdown-menu li a', function () {
            var selText = $(this).text();
            $(this).parents('.dropdown').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
        });
        var resultTemplate = kendo.template($("#resultTemplate").html());
        $("#result")
            .append(resultTemplate({
                part: "ezhuthu"
            }));

        $("#ProsodyText").blur(function () {
            if (!$('#ProsodyText').val().trim()) {
                Utility.disableElement("checkResult");
                return false;
            }
            Utility.enableElement("checkResult");
            Utility.clearResult();
            var data = '{"InputText" : "' + $("#ProsodyText").val() + '"' +
                '}';
            var mathiraiData = LetterType.getMathirai(data);
            var ezhuthuCount = mathiraiData ? mathiraiData["TotalLetterCount"] : 0;
            var detailedMathiraiCount = mathiraiData ? mathiraiData["DetailedMathiraiCount"] : null;
            $("#ezhuthuCount").html(ezhuthuCount);
            Utility.showElement("ezhuthuCalculator");
            $("#ezhuthuTypes").empty();
            var ezhuthuVagaiSelectorTemplate = kendo.template($("#ezhuthuVagaiSelectorTemplate").html());
            var ezhuthuIndex = 0;
            var ezhuthuVagaigal = '';
            if (detailedMathiraiCount) {
                for(var word=0; word < detailedMathiraiCount.length; word++) {
                    $.each(detailedMathiraiCount[word], function(detailedMathiraiKey, detailedMathiraiValue) {
                        $.each(detailedMathiraiValue, function(mathiraiKey, mathiraiValue) {
                            var ezhuthu = mathiraiKey.split(":")[1];
                            var ezhuthuVagai = ezhuthuVagaiSelectorTemplate({
                                ezhuthu: ezhuthu,
                                ezhuthuVagaiIndex: ezhuthuIndex + 1
                            });
                            ezhuthuIndex++;
                            ezhuthuVagaigal += ezhuthuVagai;
                            Utility.showElement("ezhuthuTypeSelector");
                        });
                    });
                }
                $("#ezhuthuTypes").append('<table class="table">' + ezhuthuVagaigal + '</table>');
            }
        });
        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            var inputData = '{"InputText" : "' + $("#ProsodyText").val() + '"' +
                '}';
            var data = LetterType.getMathirai(inputData);
            if (data) {
                var ezhuthuVagaiTemplate = kendo.template($("#ezhuthuVagaiTemplate").html());
                var ezhuthuCount = data["TotalEzhuthuCount"];
                var detailedMathiraiCount = data["DetailedMathiraiCount"];
                var ezhuthuExplanation = ezhuthuVagaiTemplate({
                    ezhuthuCount: data["TotalEzhuthuCount"],
                    mathiraiCount: data["MathiraiCount"],
                    detailedMathiraiCount: data["DetailedMathiraiCount"],
                    totalMathiraiCount: data["TotalMathiraiCount"]
                });

                var isAnyLetterTypeWrong = false;
                var l = 0;
                $.each(detailedMathiraiCount[0], function (detailedMathiraiKey, detailedMathiraiValue) {
                    $.each(detailedMathiraiValue, function (mathiraiKey, mathiraiValue) {
                        var chosenEzhuthuVagai = $("#ezhuthuVagai-dropdown-" + (l + 1)).text().trim();
                        isAnyLetterTypeWrong = (LetterType.letterTypes[mathiraiValue.LetterType] !== chosenEzhuthuVagai);
                        if (isAnyLetterTypeWrong)
                            return false;
                        l++;
                    });
                });

                if (isAnyLetterTypeWrong) {
                    Utility.showIncorrect("ezhuthu", ezhuthuExplanation);
                } else {
                    Utility.showCorrect("ezhuthu", ezhuthuExplanation);
                }
                Utility.showResult();
            }
            else
            {
                alert('error');
            }
            return false;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#modal-video-mathirai').on('show.bs.modal', function(e) {
            $(e.target).find('.modal-body').empty();
            $(e.target).find('.modal-body').append('<iframe width="420" height="315" src="https://www.youtube.com/embed/AH4bCeBXFm4?start=396" frameborder="0" allowfullscreen></iframe>');
        });
        $('#modal-video-mathirai').on('hide.bs.modal', function(e) {
            $(e.target).find('.modal-body').empty();
        });
    });
</script>