@{
    ViewBag.Title = "எழுத்து வகைபிரி";
}
<div id="letterTypeFinderGame">

</div>
<script type="text/x-kendo-template" id="ezhuthuVagaiInputTemplate">
    <ul class="kendo-panelbars-custom" id="seyyulbar">
        <li>
            <h4 class="main-title">
                #= ProsodyResourceManager.get("inputWord") #
                <span class="main-title-icon glyph glyph-chevron-down"></span>
            </h4>
            <ul>
                <li id="seyyul" class="k-state-active">
                    <form id="prosodyForm" data-parsley-validate="" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                        <div class="row row-sm">
                            <div class="col-md-8" id="input">

                            </div>

                            <div class="col-md-8 hidden" id="ezhuthuTypeSelector">
                                <h4 class="game-section-title text-center">
                                    #= ProsodyResourceManager.get("letterTypes") #
                                </h4>
                                <div id="ezhuthuCalculator" class="text-center text-t5 visible">
                                    <span>#= ProsodyResourceManager.get("count") #:</span>
                                    <span id="ezhuthuCount"></span>
                                </div>
                                <div id="ezhuthuTypes" class="type-t7">

                                </div>
                            </div>

                            <div class="col-md-8 hidden" id="result">
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</script>
<script type="text/x-kendo-template" id="ezhuthuVagaiSelectorTemplate">
        # var ezhuthuVagaiId = 'ezhuthuVagai-dropdown-' + ezhuthuVagaiIndex; #
        <tr>
            <td>
                <div class="type-t5 text-right">#= ezhuthu + ':'#</div>
            </td>
            <td>
                <!--<p class="form-group-label">எழுத்து வகைகள்</p>-->
                <div class="dropdown">
                    <button id="#= ezhuthuVagaiId #" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        #= ProsodyResourceManager.get("selectALetterType") #<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="#= ezhuthuVagaiId #">
                        # $.each(LetterTypeFinder.letterTypes, function(letterTypeKey, letterTypeValue) { #
                        <li><a href="\\#">#= letterTypeValue #</a></li>
                        # }); #
                    </ul>
                </div>
            </td>
        </tr>
    </script>
<script type="text/x-kendo-template" id="ezhuthuVagaiTemplate">
        # var mathiraiInSeer = ""; var key = 0; var l = 0; #
        # for(var w=0; w < detailedMathiraiCount.length; w++) { #
        # $.each(detailedMathiraiCount[w], function(detailedMathiraiKey, detailedMathiraiValue) { #
        # mathiraiInSeer = mathiraiInSeer + '&nbsp;' #
        # $.each(detailedMathiraiValue, function(mathiraiKey, mathiraiValue) { #
        # var rubyStyle = l === Object.keys(detailedMathiraiValue).length - 1 ? "margin-right:10px" : "margin-right:0px"; #
        # var letter = mathiraiKey.split(":")[1]; console.log(mathiraiKey + ' ' + letter); #
        # mathiraiInSeer = mathiraiInSeer + '<ruby style="' + rubyStyle + '">'+'<span class="uiTrant type-t7">' + letter + '</span><rt class="' + LetterTypeFinder.letterCssClasses[mathiraiValue.letterType] + '">' + mathiraiValue.letterType +  '</rt></ruby>  '; #
        # l++; #
        # }) #
        # l = 0; key++; #
        # }) #
        # } #
        #= mathiraiInSeer #
        <hr />
        <span class="kuril m-r-xxs type-t9">கு – குறில்</span>
        <span class="nedil m-r-xxs type-t9">நெ – நெடில்</span>
        <span class="otru m-r-xxs type-t9">மெ – மெய்</span>
        <span class="aytham m-r-xxs type-t9">ஃ - ஆய்தம்</span>
    </script>

@{ Html.RenderPartial("_CommonKendoTemplates"); }


<script src="/Scripts/prosody/LetterTypeFinder.js"></script>
<script>
        $(document).ready(function () {
            LetterTypeFinder.init();
            var delay = Utility.makeDelay(1000);
            $("#ProsodyText")
                .keyup(function () {
                    delay(LetterTypeFinder.showInputAndResult);
                });

            $("#ProsodyText").blur(LetterTypeFinder.showInputAndResult);
            $("#prosodyForm").submit(function () {
                Utility.hideResult();
                var inputData = '{"inputText" : "' + $("#ProsodyText").val() + '"' +
                    '}';
                var data = ProsodyService.mathiraiCount(inputData, LetterTypeFinder.showOutputWithResult);

                return false;
            });
        });
    </script>
