@{
    ViewBag.Title = "மாத்திரை எவ்வளவு?";
}
<div id="mathiraiCalculatorGame">

</div>
<script type="text/x-kendo-template" id="mathiraiInputTemplate">
    <ul class="kendo-panelbars-custom" id="seyyulbar">
        <li>
            <h4 class="main-title">
                #= ProsodyResourceManager.get("inputWord") #
                <span class="main-title-icon glyph glyph-chevron-down"></span>
            </h4>
            <ul>
                <li id="seyyul" class="k-state-active">
                    <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                        <div class="row row-sm">
                            <div class="col-md-8" id="input">

                            </div>
                            <div class="col-md-8" id="additionalInput">
                                <h4 class="game-section-title text-center">
                                    #= ProsodyResourceManager.get("durationCount") #
                                </h4>
                                <div class="infotip">
                                    <span class="text-t9">#= ProsodyResourceManager.get("enterDurationCountAndCheckResult") #</span>
                                </div>
                                <textarea class="panelbar-textarea" id="MathiraiCount" rows="1" minlength="1"></textarea>
                                <div id="rightMathiraiCount" class="type-t5 hidden">
                                    <h4 class="game-section-title">#= ProsodyResourceManager.get("correctDurationCount") #</h4>
                                    <span class="cspan" id="CalculatedMathiraiCount"></span>
                                </div>

                            </div>
                            <div class="col-md-8 hidden" id="result">

                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
    <div id="additionalInfo"></div>
</script>

<script type="text/x-kendo-template" id="detailedMathiraiTemplate">
        # var mathiraiInSeer = ""; var key = 0; var l = 0; #
        # var letterClass = { 'கு' : 'kuril', 'நெ' : 'nedil', 'மெ' : 'otru', 'ஃ' : 'aytham' }; #
        # for(var w=0; w < detailedMathiraiCount.length; w++) { #
        # $.each(detailedMathiraiCount[w], function(detailedMathiraiKey, detailedMathiraiValue) { #
        # mathiraiInSeer = mathiraiInSeer + '&nbsp;' #
        # $.each(detailedMathiraiValue, function(mathiraiKey, mathiraiValue) { #
        # var rubyStyle = l === Object.keys(detailedMathiraiValue).length - 1 ? "m-r-xxs" : "m-r-n"; #
        # var letter = mathiraiKey.split(":")[1]; #
        # mathiraiInSeer = mathiraiInSeer + '<ruby class="' + rubyStyle + '"><div class="type-t9 text-center ' + letterClass[mathiraiValue.letterType] +'"><rt>' + mathiraiValue.letterType +'</rt></div><span class="uiTran type-t7">' + letter + '</span><rt>' + mathiraiValue.mathirai +  '</rt></ruby>  '; #
        # if(l !== Object.keys(detailedMathiraiValue).length - 1) { #
        # mathiraiInSeer = mathiraiInSeer + '<ruby><div class="type-t9 text-center"><rt>&nbsp;</rt></div><span class="uiTrant type-t7">' + '&nbsp;' + '</span><rt>' + ' + ' +  '</rt></ruby>  '; #
        # } #
        # l++; #
        # }) #
        # l = 0; key++; #
        # }) #
        # mathiraiInSeer = mathiraiInSeer + '<ruby><div class="type-t8 text-center"><rt>&nbsp;</rt></div><span class="uiTrant">' + '&nbsp;' + ' </span><rt>' + ' = ' + totalMathiraiCount + '</rt></ruby><br />'; #
        # } #
        #= mathiraiInSeer #
        <hr />
        <span class="kuril m-r-xxs type-t9">கு – குறில்</span>
        <span class="nedil m-r-xxs type-t9">நெ – நெடில்</span>
        <span class="otru m-r-xxs type-t9">மெ – மெய்</span>
        <span class="aytham m-r-xxs type-t9">ஃ - ஆய்தம்</span>
</script>

@{ Html.RenderPartial("_CommonKendoTemplates"); }
<script src="/Scripts/prosody/MathiraiCalculator.js"></script>
<script>
    $(document).ready(function () {
        MathiraiCalculator.init();

        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            var data = '{"inputText" : "' + $("#ProsodyText").val() + '"' +
                '}';
            ProsodyService.mathiraiCount(data, MathiraiCalculator.showOutputWithResult);
            return false;
        });
    });
</script>
