@{
    ViewBag.Title = "எழுத்து வகைபிரி";
}
<div id="osaiMatcherGame">

</div>
<script type="text/x-kendo-template" id="osaiVagaiInputTemplate">
    <ul class="kendo-panelbars-custom" id="seyyulbar">
        <li>
            <h4 class="main-title" data-localize="soundMatcher">
                <span class="ltext"></span>
                <span class="main-title-icon glyph glyph-chevron-down"></span>
            </h4>
            <ul>
                <li id="seyyul" class="k-state-active">
                    <form id="prosodyForm" data-parsley-validate="" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                        <div class="row row-md">
                            <div class="col-md-8" id="input">
                                <h4 class="game-section-title" data-localize="soundTypes">
                                    <span class="ltext"></span>
                                </h4>
                                # var inputInfotip = ProsodyResourceManager.get("soundMatcherInfoTip"); #
                                <div class="infotip" data-localize="soundMatcherInfoTip">
                                    <span class="text-t9"><span class="ltext"></span></span>
                                </div>
                                <div id="osaiTypes" class="type-t7">

                                </div>
                                # var sample = ProsodyResourceManager.get("sample"); var checkAnswer = ProsodyResourceManager.get("checkAnswer"); #
                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-primary btn-with-glyph" id="example" data-localize="sample"><i class="glyph glyph-import "></i><span class="ltext"></span></button>
                                        <button type="submit" class="btn btn-primary btn-with-glyph" id="checkResult" data-localize="checkAnswer"><i class="glyph glyph-message"></i><span class="ltext"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8" id="osaiDefinitionSelector">
                                <h4 class="game-section-title" data-localize="soundDefinition">
                                    <span class="ltext"></span>
                                </h4>

                                <div id="osaiDefinition" class="type-t7">

                                </div>
                                <h4 class="game-section-title" data-localize="paaSound">
                                    <span class="ltext"></span>
                                </h4>

                                <div id="osaiInPaa" class="type-t7">

                                </div>
                            </div>

                            <div class="col-md-8 hidden" id="result">
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</script>
<script type="text/x-kendo-template" id="osaiSelectorTemplate">
        # var shouldShowKey = (typeof key !== "undefined") && (key !== null) #;
        # var selectionMessage = shouldShowKey ? OsaiMatcher.selectionMessages["key"] : OsaiMatcher.selectionMessages[explanationOrPaa]; #
        # console.log(shouldShowKey, OsaiMatcher.selectionMessages); console.log(!shouldShowKey ? explanationOrPaa + selectionMessage : "N/A"); #
        # var osaiVagaiId = 'osaiVagai-dropdown-' + (shouldShowKey ? "key" : explanationOrPaa); console.log(osaiVagaiId); #
        # var length = 0; var val = ''; var listOfValues = [];#
        # $.each(OsaiMatcher.soundTypes, function(soundTypeKey, soundTypeValue) { #
            # val = shouldShowKey ? soundTypeKey : soundTypeValue[explanationOrPaa]; length = (val.length  > length) ? val.length : length; #
            # listOfValues.push(val); #
        # }); #
        # length += 10; selectionMessage = _.pad(selectionMessage, length, '-'); console.log(length); console.log(selectionMessage);#
        <tr>
            <td>
                <!--<p class="form-group-label">எழுத்து வகைகள்</p>-->
                <div class="dropdown">
                    <button id="#= osaiVagaiId #" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        #= selectionMessage #<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="#= osaiVagaiId #">
                        # $.each(listOfValues, function(index, value) { #
                        <li><a href="\\#">#= _.padEnd(value, length, ' ')  #</a></li>
                        # }); #
                    </ul>
                </div>
            </td>
        </tr>
</script>

<script type="text/x-kendo-template" id="osaiTemplate">
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table theme-alt type-" + tableText; console.log(tableClass);#
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>ஓசை</th>
                <th>விளக்கம்</th>
                <th>
                    பா
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="naal">
                <td class="col-md-4">#= key #</td>
                <td class="col-md-4">#= definition #</td>
                <td>#= paa #</td>
            </tr>
        </tbody>
    </table>

</script>

@{ Html.RenderPartial("_CommonKendoTemplates"); }


<script src="/Scripts/prosody/OsaiMatcher.js"></script>
<script>
        $(document).ready(function () {
            OsaiMatcher.init();
            var osaiSelectorTemplate = kendo.template($("#osaiSelectorTemplate").html());
            $("#osaiTypes").append(osaiSelectorTemplate({ key: "key" }));
            $("#osaiDefinition").append(osaiSelectorTemplate({ key: null, explanationOrPaa: "definition" }));
            $("#osaiInPaa").append(osaiSelectorTemplate({ key: null, explanationOrPaa: "paa" }));
            OsaiMatcher.showInputAndResult();


            $("#osaiVagai-dropdown-definition").blur(OsaiMatcher.showInputAndResult);
            $("#prosodyForm").submit(function () {
                Utility.hideResult();
                var osai = $("#osaiVagai-dropdown-key").text().trim();
                var osaiExplanationIncorrect = $("#osaiVagai-dropdown-definition").text().trim() !==
                    OsaiMatcher.soundTypes[osai].definition;
                var osaiInPaaIncorrect = $("#osaiVagai-dropdown-paa").text().trim() !==
                    OsaiMatcher.soundTypes[osai].paa;
                var osaiExplanationOrPaaIncorrect = osaiExplanationIncorrect || osaiInPaaIncorrect;
                OsaiMatcher.showOutputWithResult({
                    container: 'side',
                    key: osai,
                    definition: OsaiMatcher.soundTypes[osai].definition,
                    paa: OsaiMatcher.soundTypes[osai].paa,
                    osaiExplanationOrPaaIncorrect: osaiExplanationOrPaaIncorrect
                });
            });
        });
    </script>
