@{
    ViewBag.Title = "சீர் செய்";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title" data-localize="inputOnlyOneMetricalFoot" >
            <span class="ltext"></span>
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                    <div class="row">
                        <div class="col-md-8" id="input">

                        </div>
                        <div class="col-md-6 hidden" id="asaiSelector">
                            <h4 class="game-section-title text-center" data-localize="metremeTypes">
                                <span class="ltext"></span>
                            </h4>
                            <div id="asaiCalculator" class="text-center text-t5" data-localize="count">
                                <span class="ltext"></span>
                                <span>:</span>
                                <span id="AsaiCount"></span>
                            </div>
                            <div id="asaiTypes" class="type-t7 text-center">

                            </div>
                            <div class="control-group text-center">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary btn-with-glyph" data-localize="checkAnswer"><i class="glyph glyph-arrow-right"></i><span class="ltext"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 hidden" id="result">

                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>
<div id="additionalInfo"></div>
<script type="text/x-kendo-template" id="asaiTemplate">
    # var asaiId = 'asai-dropdown-' + asaiIndex; #
    <p class="form-group-label" data-localize="metremeType">
        <span class="ltext"></span>
    </p>
    <div class="dropdown">
        <button id="#= asaiId #" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-localize="selectAMetremeType">
            <span class="ltext"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="#= asaiId #">
            <li><a href="\\#">நேர்</a></li>
            <li><a href="\\#">நிரை</a></li>
        </ul>
    </div>
</script>

<script type="text/x-kendo-template" id="seerTemplate">
    <p class="form-group-label" data-localize="metricalFootType"><span class="ltext"></span></p>
    <div class="dropdown">
        <button id="seer-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-localize="selectAMetricalFootType">
            <span class="ltext"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="seer-dropdown">
            # if (asaiCount === 1) { #
            # if (lastSeer) { #
            <li><a href="\\#">நாள்</a></li>
            <li><a href="\\#">மலர்</a></li>
            <li><a href="\\#">காசு</a></li>
            <li><a href="\\#">பிறப்பு</a></li>
            # } else { #
            <li><a href="\\#">மா</a></li>
            <li><a href="\\#">விளம்</a></li>
            <li><a href="\\#">நேர்பு</a></li>
            <li><a href="\\#">நிரைபு</a></li>
            # } #
            # } #
            # if (asaiCount === 2) { #
            <li><a href="\\#">தேமா</a></li>
            <li><a href="\\#">புளிமா</a></li>
            <li><a href="\\#">கூவிளம்</a></li>
            <li><a href="\\#">கருவிளம்</a></li>
            # } #
            # if (asaiCount === 3) { #
            <li><a href="\\#">தேமாங்காய்</a></li>
            <li><a href="\\#">புளிமாங்காய்</a></li>
            <li><a href="\\#">கூவிளங்காய்</a></li>
            <li><a href="\\#">கருவிளங்காய்</a></li>
            <li><a href="\\#">தேமாங்கனி</a></li>
            <li><a href="\\#">புளிமாங்கனி</a></li>
            <li><a href="\\#">கூவிளங்கனி</a></li>
            <li><a href="\\#">கருவிளங்கனி</a></li>
            # } #
            # if (asaiCount === 4) { #
            <li><a href="\\#">தேமாந்தண்பூ</a></li>
            <li><a href="\\#">புளிமாந்தண்பூ</a></li>
            <li><a href="\\#">கூவிளந்தண்பூ</a></li>
            <li><a href="\\#">கருவிளந்தண்பூ</a></li>
            <li><a href="\\#">தேமாநறும்பூ</a></li>
            <li><a href="\\#">புளிமாநறும்பூ</a></li>
            <li><a href="\\#">கூவிளநறும்பூ </a></li>
            <li><a href="\\#">கருவிளநறும்பூ</a></li>
            <li><a href="\\#">தேமாநறுநிழல்</a></li>
            <li><a href="\\#">புளிமாநறுநிழல்</a></li>
            <li><a href="\\#">கூவிளநறுநிழல்</a></li>
            <li><a href="\\#">கருவிளநறுநிழல்</a></li>
            <li><a href="\\#">தேமாந்தண்ணிழல்</a></li>
            <li><a href="\\#">புளிமாந்தண்ணிழல்</a></li>
            <li><a href="\\#">கூவிளந்தண்ணிழல்</a></li>
            <li><a href="\\#">கருவிளந்தண்ணிழல்</a></li>
            # } #
        </ul>
    </div>
</script>

<script type="text/x-kendo-template" id="seerExplanationTemplate">
    # if(paaVagai) { #
    <h3 class="k-widget k-header">#= paaVagai #</h3>
    <br />
    # } #
    <table border="0" cellspacing="15">
        <tbody>

            # $.each(parseTree, function(adiKey, adiValue) { #
            # var paaAsaiInAdi = ""; var asigalInAdi = "";	var vaippaduInAdi = ""; #
            # $.each(adiValue, function(seerKey, seerValue) { #
            # paaAsaiInAdi = paaAsaiInAdi + '<td>' #
            # asigalInAdi = asigalInAdi + '<td>'#
            # vaippaduInAdi = vaippaduInAdi + '<td>'#
            # $.each(seerValue, function(asaiKey, asaiValue) { #
            # $.each(asaiValue, function(key, value) { #
            # if(key != "meta" && key != "smeta") { #
            # if(new RegExp("^நேர்").test(key)) {  #
            # paaAsaiInAdi = paaAsaiInAdi + '<span class="nerasai">' + value + '</span>' #
            # asigalInAdi = asigalInAdi + '<span class="nerasai">' + key #
                # } else if(new RegExp("^நிரை").test(key)) { #
                # paaAsaiInAdi = paaAsaiInAdi + '<span class="niryasai">' + value + '</span>' #
                # asigalInAdi = asigalInAdi + '<span class="niryasai">' + key #
                    # } else if( key == "பு") { #
                    # var spanClass = new RegExp("^நேர்").test(venLastSyllable) ? "nerasai" : "niryasai"; #
                    # paaAsaiInAdi = paaAsaiInAdi + '<span class="' + spanClass + '">' + value + '</span>' #
                    # } #
                    # } else { #
                    # if(key == "meta") { #
                    # paaAsaiInAdi = paaAsaiInAdi + '</td>' #
        # asigalInAdi = asigalInAdi + '</td>'  #
        # vaippaduInAdi = vaippaduInAdi + value + '</td>' #
        # } #
        # }	#
        # }) #
        # }) #
        # }) #
        # console.log("\r\n" + paaAsaiInAdi); console.log("\r\n" + asigalInAdi); console.log("\r\n" + vaippaduInAdi); #
        <tr>
            #= paaAsaiInAdi #
            #= asigalInAdi #
        </tr>
        @*<tr>
        #= asigalInAdi #
    </tr>*@
        <tr>
            #= vaippaduInAdi #
        </tr>
        #}) #
        </tbody>
    </table>

</script>

@{ Html.RenderPartial("_CommonKendoTemplates"); }


<script src="/Scripts/prosody/SeerFinder.js"></script>
<script>
    $(document).ready(function () {
        SeerFinder.init();

        $("#ProsodyText").blur(SeerFinder.showInputAndResult);

        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            var data = '{"inputText" : "' + $("#ProsodyText").val() + '"' + '}';
            ProsodyService.thalaiFinder(data, SeerFinder.showOutputWithResult);
            return false;
        });
    });
</script>