@{
    ViewBag.Title = "தளை தட்டாதே";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title" data-localize="inputSentence">
            <span class="ltext"></span>
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                    <div class="row">
                        <div class="col-md-8"id="input" >

                        </div>
                        <div class="col-md-8 hidden" id="thalaiSelector" >
                            <h4 class="game-section-title text-center"data-localize="linkageTypes">
                                <span class="ltext"></span>
                            </h4>

                            <div id="thalaiType" class="type-t7 text-center">
                                <p class="form-group-label" data-localize="linkageTypes">
                                    <span class="ltext"></span>
                                </p>
                                <div class="dropdown">
                                    <button id="thalai-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" role="button" aria-expanded="false" data-localize="selectALinkageType">
                                        <span class="ltext"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="thalai-dropdown">
                                        <li><a href="#">நேரொன்றாசிரியத்தளை</a></li>
                                        <li><a href="#">நிரையொன்றாசிரியத்தளை</a></li>
                                        <li><a href="#">இயற்சீர் வெண்டளை</a></li>
                                        <li><a href="#">வெண்சீர் வெண்டளை</a></li>
                                        <li><a href="#">ஒன்றிய வஞ்சித்தளை</a></li>
                                        <li><a href="#">ஒன்றா வஞ்சித்தளை</a></li>
                                        <li><a href="#">கலித்தளை</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="control-group text-center">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary btn-with-glyph" data-localize="checkAnswer"><i class="glyph glyph-arrow-right"></i><span class="ltext"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 hidden" id="result">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

<script type="text/x-kendo-template" id="thalaiTemplate">
    <br />
    <table border=0 cellspacing=10 class="text-left">
        <tr>
            <th>சீர்கள்</th>
            <th>வாய்ப்பாடு - அசை&nbsp;</th>
            <th>தளை</th>
        </tr>
        # for (var i = 0; i < wordBond.length; i++) { #
        <tr>
            <td> <span class="talaiseer"> #= wordBond[i]["word1"] # - #= wordBond[i]["word2"] # </span></td>
            <td> <span class="talaiasai"> #= wordBond[i]["class1"] # - #= wordBond[i]["class2"] # </span></td>
            <td> <span class="talainame"> #= wordBond[i]["bond"] # </span></td>
        </tr>
        # } #
    </table>
</script>

@{ Html.RenderPartial("_CommonKendoTemplates"); }


<script src="/Scripts/prosody/ThalaiFinder.js"></script>
<script>
    $(document).ready(function () {
        ThalaiFinder.init();
        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            var data = '{"inputText" : "' + $("#ProsodyText").val() + '"' + '}';
            ProsodyService.thalaiFinder(data, ThalaiFinder.showOutputWithResult);
            return false;
        });
    });
</script>