@{
    ViewBag.Title = "தொடை தொடு";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title" data-localize="inputSentence">
            <span class="ltext"></span>
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                    <div class="row">
                        <div class="col-md-8" id="input">

                        </div>
                        <div class="col-md-8 hidden" id="thodaiSelector">
                            <h4 class="game-section-title text-center" data-localize="ornamentationTypes">
                                <span class="ltext"></span>
                            </h4>

                            <div id="monaiType" class="type-t7 text-center">
                                <p class="form-group-label" data-localize="alliterationType"><span class="ltext"></span></p>
                                <div class="dropdown">
                                    <button id="monai-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-localize="selectAnAlliterationType">
                                        <span class="ltext"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="monai-dropdown">
                                        <li><a href="#">இல்லை</a></li>
                                        <li><a href="#">இணை</a></li>
                                        <li><a href="#">பொழிப்பு</a></li>
                                        <li><a href="#">ஒரூஉ</a></li>
                                        <li><a href="#">கூழை</a></li>
                                        <li><a href="#">கீழ்க்கதுவாய்</a></li>
                                        <li><a href="#">மேற்கதுவாய்</a></li>
                                        <li><a href="#">முற்று</a></li>
                                        <li><a href="#">கடையிணை</a></li>
                                        <li><a href="#">பின்</a></li>
                                        <li><a href="#">கடைக்கூழை</a></li>
                                        <li><a href="#">இடைப்புணர்</a></li>
                                    </ul>
                                </div>

                                <p class="form-group-label" data-localize="rhymeType"><span class="ltext"></span></p>
                                <div class="dropdown">
                                    <button id="ethukai-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-localize="selectARhymeType">
                                        <span class="ltext"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="ethukai-dropdown">
                                        <li><a href="#">இல்லை</a></li>
                                        <li><a href="#">இணை</a></li>
                                        <li><a href="#">பொழிப்பு</a></li>
                                        <li><a href="#">ஒரூஉ</a></li>
                                        <li><a href="#">கூழை</a></li>
                                        <li><a href="#">கீழ்க்கதுவாய்</a></li>
                                        <li><a href="#">மேற்கதுவாய்</a></li>
                                        <li><a href="#">முற்று</a></li>
                                        <li><a href="#">கடையிணை</a></li>
                                        <li><a href="#">பின்</a></li>
                                        <li><a href="#">கடைக்கூழை</a></li>
                                        <li><a href="#">இடைப்புணர்</a></li>
                                    </ul>
                                </div>
                                <p class="form-group-label" data-localize="endRhymeType"><span class="ltext"></span></p>
                                <div class="dropdown">
                                    <button id="iyaipu-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-localize="selectAnEndRhymeType">
                                        <span class="ltext"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="iyaipu-dropdown">
                                        <li><a href="#">இல்லை</a></li>
                                        <li><a href="#">இணை</a></li>
                                        <li><a href="#">பொழிப்பு</a></li>
                                        <li><a href="#">ஒரூஉ</a></li>
                                        <li><a href="#">கூழை</a></li>
                                        <li><a href="#">கீழ்க்கதுவாய்</a></li>
                                        <li><a href="#">மேற்கதுவாய்</a></li>
                                        <li><a href="#">முற்று</a></li>
                                        <li><a href="#">கடையிணை</a></li>
                                        <li><a href="#">பின்</a></li>
                                        <li><a href="#">கடைக்கூழை</a></li>
                                        <li><a href="#">இடைப்புணர்</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="control-group text-center">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary btn-with-glyph" data-localize="checkAnswer"><i class="glyph glyph-arrow-right"></i><span class="ltext"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 hidden" id="result">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

<script type="text/x-kendo-template" id="monaiTemplate">
    <div class="type-t4">சீர் மோனை</div>

    # for (var i = 0; i < adigal.length; i++) { #
    <br />
    அடி #= i + 1 # |  #= adigal[i] #
    <br />
    # if(seerMonaiWithinAdi[i][1][0] == "இல்லை") { #
    மோனை #= seerMonaiWithinAdi[i][1][0] #
    <br />
    #} else { #
    # var allMonais = ''; #
    # for(var s = 0; s < seerMonaiWithinAdi[i][2].length; s++) { #
    # console.log("|" + seerMonaiWithinAdi[i][2][s] + "|") #
    # if( Utility.stringStartsWith(seerMonaiWithinAdi[i][2][s], "~")) { #
    # allMonais += '<span class="todaiword">' + seerMonaiWithinAdi[i][2][s].substring(1) + '</span>' #
    # } else if(!isNaN(parseInt(seerMonaiWithinAdi[i][2][s]))) { #
    # allMonais += '<span class="todaiindex">' + seerMonaiWithinAdi[i][2][s] + '</span>' #
    # } else { #
    # allMonais += '<span>' + seerMonaiWithinAdi[i][2][s] + '</span>  ' #
    # } #
    # } #
    #= allMonais #
    |
    <span class="todaipattern">#=seerMonaiWithinAdi[i][1][0]#  மோனை </span>
    # } #
    <br />
    # } #
    <div class="type-t4">அடி மோனை</div>
    <br />
    # var output = ""; for (var i = 0; i < matchingAdiMonai.length; i++) { #
    # var monaiCount = 0 #
    # $.each(matchingAdiMonai[i], function(key, value) { #
    # output = output + ((parseInt(key,10) + 1 ) + ' ' + value + '  '); monaiCount++; #
    # }) #
    # if(monaiCount > 1) { #
    #= output #
    # } #
    # } #
    # if(matchingAdiMonai.length > 1) { #
    #= "மோனை இல்லை" #
    # } #
    <br />
</script>

<script type="text/x-kendo-template" id="ethukaiTemplate">
    <div class="type-t4">சீர் எதுகை</div>

    # for (var i = 0; i < adigal.length; i++) { #
    <br />
    அடி #= i + 1 # |  #= adigal[i] #
    <br />
    # if(seerEthukaiWithinAdi[i][1][0] == "இல்லை") { #
    எதுகை #= seerEthukaiWithinAdi[i][1][0] #
    <br />
    #} else { #
    # for(var s = 0; s < seerEthukaiWithinAdi[i][2].length; s++) { #
    # if( Utility.stringStartsWith(seerEthukaiWithinAdi[i][2][s], "~")) { #
    <span class="todaiword"> #=seerEthukaiWithinAdi[i][2][s].substring(1)# </span>
    # } else if(!isNaN(parseInt(seerEthukaiWithinAdi[i][2][s]))) { #
    <span class="todaiindex"> #=seerEthukaiWithinAdi[i][2][s]# </span>
    # } else { #
    <span> #=seerEthukaiWithinAdi[i][2][s]# </span>
    # } #
    # } #
    |
    <span class="todaipattern"> #= seerEthukaiWithinAdi[i][1][0] #  எதுகை </span>
    # } #
    <br />
    # } #
    <div class="type-t4">அடி எதுகை</div>
    <br />
    # var output = ""; for (var i = 0; i < matchingAdiEthukai.length; i++) { #
    # var ethukaiCount = 0 #
    # $.each(matchingAdiEthukai[i], function(key, value) { #
    # output = output + ((parseInt(key,10) + 1 ) + ' ' + value + '  '); ethukaiCount++; #
    # }) #
    # if(ethukaiCount > 1) { #
    #= output #
    # } #
    # } #
    # if(matchingAdiEthukai.length > 1) { #
    #= "எதுகை இல்லை" #
    # } #
    <br />
</script>

<script type="text/x-kendo-template" id="iyaipuTemplate">
    <div class="type-t4">சீர் இயைபு</div>

    # for (var i = 0; i < adigal.length; i++) { #
    <br />
    அடி #= i + 1 # |  #= adigal[i] #
    <br />
    # if(seerIyaipuWithinAdi[i][1][0] == "இல்லை") { #
    இயைபு #= seerIyaipuWithinAdi[i][1][0] #
    <br />
    #} else { #
    # for(var s = 0; s < seerIyaipuWithinAdi[i][2].length; s++) { #
    # if( Utility.stringStartsWith(seerIyaipuWithinAdi[i][2][s], "~")) { #
    <span class="todaiword"> #=seerIyaipuWithinAdi[i][2][s].substring(1)# </span>
    # } else if(!isNaN(parseInt(seerIyaipuWithinAdi[i][2][s]))) { #
    <span class="todaiindex"> #=seerIyaipuWithinAdi[i][2][s]# </span>
    # } else { #
    <span> #=seerIyaipuWithinAdi[i][2][s]# </span>
    # } #
    # } #
    |
    <span class="todaipattern"> #= seerIyaipuWithinAdi[i][1][0] #  இயைபு </span>
    # } #
    <br />
    # } #
    <div class="type-t4">அடி இயைபு</div>
    <br />
    # var output = ""; for (var i = 0; i < matchingAdiIyaipu.length; i++) { #
    # var iyaipuCount = 0 #
    # $.each(matchingAdiIyaipu[i], function(key, value) { #
    # output = output + ((parseInt(key,10) + 1 ) + ' ' + value + '  '); iyaipuCount++; #
    # }) #
    # if(iyaipuCount > 1) { #
    #= output #
    # } #
    # } #
    # if(matchingAdiIyaipu.length > 1) { #
    #= "இயைபு இல்லை" #
    # } #
    <br />
</script>

@{ Html.RenderPartial("_CommonKendoTemplates"); }

<script src="/Scripts/prosody/ThodaiFinder.js"></script>
<script>
    $(document).ready(function () {
        ThodaiFinder.init();

        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            var data = '{"InputText" : "' + $("#ProsodyText").val() + '"' + '}';
            ProsodyService.thodaiFinder(data, ThodaiFinder.showOutputWithResult);
            return false;
        });
    });
</script>