@{
    ViewBag.Title = "எழுத்து";
}
<div id="aboutMenYappu" class="p-md">

</div>

<script>
    $(document).ready(function () {
        var aboutMenYappuTemplate = kendo.template($("#aboutMenYappuTemplate").html());
        $('#aboutMenYappu').append(aboutMenYappuTemplate({}));
    });
</script>