@{
    ViewBag.Title = "Contact";

}

<div class="contact p-xxs">
    <header>
        <h3>Email</h3>
    </header>

    <span class="text-t4">Feedback/Questions:</span>
    <span><a href="#">rajajhansi@gmail.com</a></span>

</div>

<div class="contact p-xxs">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        5675 Kimberly Sty<br />
        San Jose, CA 95129
    </p>
</div>