@{
    ViewBag.Title = "Contact";

}

<h2 data-localize="feedback" class="p-xxs"><span class="ltext"></span></h2>
<div class="contact p-xxs">
    <div class="text-t4">
        <span data-localize="contributeToMenyappu"><span class="ltext"></span></span>
        <div class="m-t-xs text-t3" >
            <i class="glyph glyph-mail"></i>
            <a>rajajahansi@gmail.com</a>
        </div>
    </div>

</div>

<h2 data-localize="address" class="p-xxs"><span class="ltext"></span></h2>
<div class="contact p-xxs text-t4">
    <span data-localize="addressDetail"><span class="ltext"></span></span>
</div>