@{
    ViewBag.Title = "மென்யாப்பு";
}

<ul class="kendo-panelbars-custom" id="seyyulbar">
    <li>
        <h4 class="main-title">
            வாக்கியத்தை உள்ளிடவும்
            <span class="main-title-icon glyph glyph-chevron-down"></span>
        </h4>
        <ul>
            <li id="seyyul" class="k-state-active">
                <form id="prosodyForm" class="form-horizontal" action="/api/Prosody/MathiraiCount" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="game-section-title">
                                வாக்கியம்
                            </h4>
                            <textarea class="panelbar-textarea" id="ProsodyText" rows="6"></textarea>
                        </div>
                        <div class="col-md-6 hidden" id="thodaiSelector">
                            <h4 class="game-section-title">
                                தொடை வகை
                            </h4>

                            <div id="monaiType" class="type-t7">
                                <p class="form-group-label">மோனை வகை</p>
                                <div class="dropdown">
                                    <button id="monai-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                        மோனை வகையைத் தேர்ந்தெடு
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="monai-dropdown">
                                        <li><a href="#">இல்லை</a></li>
                                        <li><a href="#">இணை</a></li>
                                        <li><a href="#">பொழிப்பு</a></li>
                                        <li><a href="#">ஒரூஉ</a></li>
                                        <li><a href="#">கூழை</a></li>
                                        <li><a href="#">கீழ்க்கதுவாய்</a></li>
                                        <li><a href="#">மேற்கதுவாய்</a></li>
                                        <li><a href="#">முற்று</a></li>
                                        <li><a href="#">கடையிணை</a></li>
                                        <li><a href="#">பின்</a></li>
                                        <li><a href="#">கடைக்கூழை</a></li>
                                        <li><a href="#">இடைப்புணர்</a></li>
                                    </ul>
                                </div>
                                <p class="form-group-label">எதுகை  வகை</p>
                                <div class="dropdown">
                                    <button id="ethukai-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                        எதுகை வகையைத் தேர்ந்தெடு
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="ethukai-dropdown">
                                        <li><a href="#">இல்லை</a></li>
                                        <li><a href="#">இணை</a></li>
                                        <li><a href="#">பொழிப்பு</a></li>
                                        <li><a href="#">ஒரூஉ</a></li>
                                        <li><a href="#">கூழை</a></li>
                                        <li><a href="#">கீழ்க்கதுவாய்</a></li>
                                        <li><a href="#">மேற்கதுவாய்</a></li>
                                        <li><a href="#">முற்று</a></li>
                                        <li><a href="#">கடையிணை</a></li>
                                        <li><a href="#">பின்</a></li>
                                        <li><a href="#">கடைக்கூழை</a></li>
                                        <li><a href="#">இடைப்புணர்</a></li>
                                    </ul>
                                </div>
                                <p class="form-group-label">இயைபு  வகை</p>
                                <div class="dropdown">
                                    <button id="iyaipu-dropdown" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                        இயைபு வகையைத் தேர்ந்தெடு
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="iyaipu-dropdown">
                                        <li><a href="#">இல்லை</a></li>
                                        <li><a href="#">இணை</a></li>
                                        <li><a href="#">பொழிப்பு</a></li>
                                        <li><a href="#">ஒரூஉ</a></li>
                                        <li><a href="#">கூழை</a></li>
                                        <li><a href="#">கீழ்க்கதுவாய்</a></li>
                                        <li><a href="#">மேற்கதுவாய்</a></li>
                                        <li><a href="#">முற்று</a></li>
                                        <li><a href="#">கடையிணை</a></li>
                                        <li><a href="#">பின்</a></li>
                                        <li><a href="#">கடைக்கூழை</a></li>
                                        <li><a href="#">இடைப்புணர்</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 hidden" id="result">
                            <h4 class="game-section-title">
                                முடிவு
                            </h4>
                            <div class="type-t5">
                                <p class="form-group-label">மோனை வகை</p>
                                <button id="monai-correct" class="right btn btn-success btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right"><i class="glyph glyph-checkmark"></i>சரி</button>
                                <button id="monai-incorrect" class="wrong btn btn-warning btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right">
                                    <i class="glyph glyph-cancel"></i>
                                    தவறு
                                </button>
                                <a role="button" id="monai-explanation"
                                   class="btn btn-primary btn-with-glyph"
                                   tabindex="0"
                                   data-toggle="popover"
                                   data-trigger="focus"
                                   data-content="அருமை">விளக்கம்</a>
                            </div>
                            <div class="type-t5">
                                <p class="form-group-label">எதுகை  வகை</p>
                                <button id="ethukai-correct" class="right btn btn-success btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right"><i class="glyph glyph-checkmark"></i>சரி</button>
                                <button id="ethukai-incorrect" class="wrong btn btn-warning btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right">
                                    <i class="glyph glyph-cancel"></i>
                                    தவறு
                                </button>
                                <a role="button" id="ethukai-explanation"
                                   class="btn btn-primary btn-with-glyph"
                                   tabindex="0"
                                   data-toggle="popover"
                                   data-trigger="focus"
                                   data-content="அருமை">விளக்கம்</a>
                            </div>
                            <div class="type-t5">
                                <p class="form-group-label">இயைபு  வகை</p>
                                <button id="iyaipu-correct" class="right btn btn-success btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right"><i class="glyph glyph-checkmark"></i>சரி</button>
                                <button id="iyaipu-incorrect" class="wrong btn btn-warning btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right">
                                    <i class="glyph glyph-cancel"></i>
                                    தவறு
                                </button>
                                <a role="button" id="iyaipu-explanation"
                                   class="btn btn-primary btn-with-glyph"
                                   tabindex="0"
                                   data-toggle="popover"
                                   data-trigger="focus"
                                   data-content="அருமை"><i class="glyph glyph-message"></i>விளக்கம்</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary btn-with-glyph" id="example"><i class="glyph glyph-import"></i>மாதிரி</button>
                                    <button type="submit" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-arrow-right"></i>சரி பார்த்திடு</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </li>
</ul>

<script type="text/x-kendo-template" id="monaiTemplate">
    <div class="type-t4">சீர் மோனை</div>

    # for (var i = 0; i < adigal.length; i++) { #
    <br />
    அடி #= i + 1 # |  #= adigal[i] #
    <br />
    # if(seerMonaiWithinAdi[i][1][0] == "இல்லை") { #
    மோனை #= seerMonaiWithinAdi[i][1][0] #
    <br />
    #} else { #
    # var allMonais = ''; #
    # for(var s = 0; s < seerMonaiWithinAdi[i][2].length; s++) { #
    # console.log("|" + seerMonaiWithinAdi[i][2][s] + "|") #
    # if( Utility.stringStartsWith(seerMonaiWithinAdi[i][2][s], "~")) { #
    # allMonais += '<span class="todaiword">' + seerMonaiWithinAdi[i][2][s].substring(1) + '</span>' #
    # } else if(!isNaN(parseInt(seerMonaiWithinAdi[i][2][s]))) { #
    # allMonais += '<span class="todaiindex">' + seerMonaiWithinAdi[i][2][s] + '</span>' #
    # } else { #
    # allMonais += '<span>' + seerMonaiWithinAdi[i][2][s] + '</span>  ' #
    # } #
    # } #
    #= allMonais #
    |
    <span class="todaipattern">#=seerMonaiWithinAdi[i][1][0]#  மோனை </span>
    # } #
    <br />
    # } #
    <div class="type-t4">அடி மோனை</div>
    <br />
    # var output = ""; for (var i = 0; i < matchingAdiMonai.length; i++) { #
    # var monaiCount = 0 #
    # $.each(matchingAdiMonai[i], function(key, value) { #
    # output = output + ((parseInt(key,10) + 1 ) + ' ' + value + '  '); monaiCount++; #
    # }) #
    # if(monaiCount > 1) { #
    #= output #
    # } #
    # } #
    # if(matchingAdiMonai.length > 1) { #
    #= "மோனை இல்லை" #
    # } #
    <br />
</script>

<script type="text/x-kendo-template" id="ethukaiTemplate">
    <div class="type-t4">சீர் எதுகை</div>

    # for (var i = 0; i < adigal.length; i++) { #
    <br />
    அடி #= i + 1 # |  #= adigal[i] #
    <br />
    # if(seerEthukaiWithinAdi[i][1][0] == "இல்லை") { #
    எதுகை #= seerEthukaiWithinAdi[i][1][0] #
    <br />
    #} else { #
    # for(var s = 0; s < seerEthukaiWithinAdi[i][2].length; s++) { #
    # if( Utility.stringStartsWith(seerEthukaiWithinAdi[i][2][s], "~")) { #
    <span class="todaiword"> #=seerEthukaiWithinAdi[i][2][s].substring(1)# </span>
    # } else if(!isNaN(parseInt(seerEthukaiWithinAdi[i][2][s]))) { #
    <span class="todaiindex"> #=seerEthukaiWithinAdi[i][2][s]# </span>
    # } else { #
    <span> #=seerEthukaiWithinAdi[i][2][s]# </span>
    # } #
    # } #
    |
    <span class="todaipattern"> #= seerEthukaiWithinAdi[i][1][0] #  எதுகை </span>
    # } #
    <br />
    # } #
    <div class="type-t4">அடி எதுகை</div>
    <br />
    # var output = ""; for (var i = 0; i < matchingAdiEthukai.length; i++) { #
    # var ethukaiCount = 0 #
    # $.each(matchingAdiEthukai[i], function(key, value) { #
    # output = output + ((parseInt(key,10) + 1 ) + ' ' + value + '  '); ethukaiCount++; #
    # }) #
    # if(ethukaiCount > 1) { #
    #= output #
    # } #
    # } #
    # if(matchingAdiEthukai.length > 1) { #
    #= "எதுகை இல்லை" #
    # } #
    <br />
</script>

<script type="text/x-kendo-template" id="iyaipuTemplate">
    <div class="type-t4">சீர் இயைபு</div>

    # for (var i = 0; i < adigal.length; i++) { #
    <br />
    அடி #= i + 1 # |  #= adigal[i] #
    <br />
    # if(seerIyaipuWithinAdi[i][1][0] == "இல்லை") { #
    இயைபு #= seerIyaipuWithinAdi[i][1][0] #
    <br />
    #} else { #
    # for(var s = 0; s < seerIyaipuWithinAdi[i][2].length; s++) { #
    # if( Utility.stringStartsWith(seerIyaipuWithinAdi[i][2][s], "~")) { #
    <span class="todaiword"> #=seerIyaipuWithinAdi[i][2][s].substring(1)# </span>
    # } else if(!isNaN(parseInt(seerIyaipuWithinAdi[i][2][s]))) { #
    <span class="todaiindex"> #=seerIyaipuWithinAdi[i][2][s]# </span>
    # } else { #
    <span> #=seerIyaipuWithinAdi[i][2][s]# </span>
    # } #
    # } #
    |
    <span class="todaipattern"> #= seerIyaipuWithinAdi[i][1][0] #  இயைபு </span>
    # } #
    <br />
    # } #
    <div class="type-t4">அடி இயைபு</div>
    <br />
    # var output = ""; for (var i = 0; i < matchingAdiIyaipu.length; i++) { #
    # var iyaipuCount = 0 #
    # $.each(matchingAdiIyaipu[i], function(key, value) { #
    # output = output + ((parseInt(key,10) + 1 ) + ' ' + value + '  '); iyaipuCount++; #
    # }) #
    # if(iyaipuCount > 1) { #
    #= output #
    # } #
    # } #
    # if(matchingAdiIyaipu.length > 1) { #
    #= "இயைபு இல்லை" #
    # } #
    <br />
</script>
<script type="text/x-kendo-template" id="thodaiHelpTemplate">
    <div class="helptext">
        <span class="type-t6" id="thodai">தொடை (Ornament/Ornamentation)</span>
        <br />
        தொடுக்கப்படுவது தொடை எனப்படும்.
    </div>
    <div class="helptext">
        <span class="type-t6" id="thodaivagai">தொடை வகை</span>
    </div>
    <br />
    <table class="table theme-alt type-t9">
        <tbody>
            <tr>
                <td>1. மோனை(Alliteration)<a href="\#monai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>2. எதுகை(Rhyme)<a href="\#ethukai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>3. இயைபு(End-Rhyme)<a href="\#iyaipu"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>4. முரண்(antithesis/oxymoron)<a href="\#muran"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>5. அளபெடை(Overlengthening)<a href="\#alapedai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>6. இரட்டைத் தொடை(Repetition)<a href="\#irattaithodai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>7. அந்தாதித் தொடை (Metrical Sequence)<a href="\#anthathithodai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>8. செந்தொடை(Blank)<a href="\#senthodai"><i class="glyph glyph-go"></i></a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="helptext">
        முதல் ஐந்து தொடைகளில் (மோனை, எதுகை, இயைபு, முரண், அளபெடை) ஒவ்வொன்றும் எட்டு வகைப்படும்.
    </div>
    <div class="helptext">
        <span class="type-t6" id="thodaivagai">அவை:</span>
    </div>
    <table class="table theme-alt type-t9">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வகை</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thema">
                <td>1 2</td>
                <td>இணை</td>
            </tr>
            <tr class="pulima">
                <td>1 3</td>
                <td>பொழிப்பு</td>
            </tr>
            <tr class="koovilam">
                <td>1 4</td>
                <td>ஒரூஉ</td>
            </tr>
            <tr class="karuvilam">
                <td>1 2 3</td>
                <td>கூழை</td>
            </tr>
            <tr class="thema">
                <td>1 2 4</td>
                <td>கீழ்க்கதுவாய்</td>
            </tr>
            <tr class="pulima">
                <td>1 3 4</td>
                <td>மேற்கதுவாய்</td>
            </tr>
            <tr class="koovilam">
                <td>1 2 3 4</td>
                <td>முற்று</td>
            </tr>
            <tr class="karuvilam">
                <td>3 4</td>
                <td>கடையிணை </td>
            </tr>
            <tr class="thema">
                <td>2 4</td>
                <td>பின்</td>
            </tr>
            <tr class="pulima">
                <td>2 3 4</td>
                <td>கடைக்கூழை</td>
            </tr>
            <tr class="koovilam">
                <td>2 3</td>
                <td>இடைப்புணர்</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="helptext">
        <span class="type-t6" id="monai">மோனை (Alliteration)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        ஒரு அடியிலுள்ள சீர்களுக்குள் முதல் எழுத்து ஒன்றி வருவது மோனை எனப்படும்.
        அடிகளுக்குள் உள்ள முதல் சீரின் முதல் எழுத்து ஒன்றி வந்தால் “அடி மோனை” எனப்படும்.
    </div>
    <br/>
    <div class="helptext">
        <span class="type-t6" id="ethukai">எதுகை (Alliteration)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        ஒரு அடியிலுள்ள சீர்களுக்குள் இரண்டாம் எழுத்து ஒன்றி வருவது எதுகை எனப்படும்.  அது மட்டுமன்றி முதல் எழுத்துகள் ஒரே மாத்திரையளவில் அமைந்திருக்க வேண்டும்.
        அடிகளுக்குள் உள்ள முதல் சீரின் இரண்டாம் எழுத்து ஒன்றி வந்தால் “அடி எதுகை” எனப்படும்.
    </div>
    <br />
    <div class="helptext">
        <span class="type-t6" id="iyaipu">இயைபு (End- Rhyme)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        இறுதியில் உள்ள எழுத்தாவது சொல்லாவது ஒன்றி வருவது இயைபு.
        அடிதோறும் இப்படி ஒன்றி வந்தால் “அடி இயைபு” எனப்படும்.
    </div>
    <table class="table theme-alt type-t9">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வகை</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thema">
                <td>4 3</td>
                <td>இணை</td>
            </tr>
            <tr class="pulima">
                <td>4 2</td>
                <td>பொழிப்பு</td>
            </tr>
            <tr class="koovilam">
                <td>4 1</td>
                <td>ஒரூஉ</td>
            </tr>
            <tr class="karuvilam">
                <td>4 3 2</td>
                <td>கூழை</td>
            </tr>
            <tr class="thema">
                <td>4 3 1</td>
                <td>கீழ்க்கதுவாய்</td>
            </tr>
            <tr class="pulima">
                <td>4 2 1</td>
                <td>மேற்கதுவாய்</td>
            </tr>
            <tr class="koovilam">
                <td>4 3 2 1</td>
                <td>முற்று</td>
            </tr>
            <tr class="karuvilam">
                <td>2 1</td>
                <td>கடையிணை</td>
            </tr>
            <tr class="thema">
                <td>3 1</td>
                <td>பின்</td>
            </tr>
            <tr class="pulima">
                <td>3 2 1</td>
                <td>கடைக்கூழை</td>
            </tr>
            <tr class="koovilam">
                <td>3 2</td>
                <td>இடைப்புணர்</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="helptext">
        <span class="type-t6" id="muran">முரண்(Antithesis/Oxymoron)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        முரண் என்பது விரோதம் அல்லது மாறுபாடு.
        சொல்லால் முரணாவது ”சொல் முரண்”; பொருளால் முரணாவது “பொருள் முரண்”.
        <br/>
        <br/>
        <b>சொல் முரண்:</b>
        ”காட்டாவைக் காட்டினான்” – இதில் காட்டா, காட்டி என்பவை ஒன்றுக்கு ஒன்று மாறுபட்ட்து போலச் சொல்லளவில் தோன்றுகின்றன. காட்டா என்பது காட்டுப் பசு என்ற பொருளுடையது.
        <br/>
        <br/>
        <b>பொருள் முரண்:</b>
        மேடு – பள்ளம், இருள் – ஒளி, செல்வம் - வறுமை
    </div>
    <br/>
    <div class="helptext">
        <span class="type-t6" id="alapedai">அளபெடை(Overlengthening)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        உயிரளபெடையோ ஒற்றளபெடையோ தொடர்ந்து வருவது அளபெடைத்தொடை.
        <br />
    </div>
    <br />
    <div class="helptext">
        <span class="type-t6" id="irattaithodai">இரட்டைத் தொடை(Repetition)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        ஓரடி முழுவதும் வந்த சொல்லே திரும்பத் திரும்ப வரும்படி தொடுப்பது இரட்டைத் தொடை.
        <br />
    </div>
    <br />
    <div class="helptext">
        <span class="type-t6" id="anthathithodai">அந்தாதித் தொடை (Metrical Sequence)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        அடிதோறும், ஓரடியின் இறுதியிலுள்ள எழுத்தோ அசையோ அடியோ அடுத்த அடியின் முதலில் தொடர்ந்து வரும்படி தொடுப்பது அந்தாதித்தொடை.
        <br />
    </div>
    <br />
    <div class="helptext">
        <span class="type-t6" id="senthodai">செந்தொடை (Blank)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="helptext">
        எந்தத் தொடையும் இல்லாமல் வருவது செந்தொடை.
        <br />
    </div>
</script>
<script>
    $(document).ready(function () {
        // set the context help
        var thodaiHelpTemplate = kendo.template($("#thodaiHelpTemplate").html());
        Utility.setContextHelp(thodaiHelpTemplate({}));
        // event handler for select
        var onSelect = function (e) {
            // access the selected item via e.item (HTMLElement)
            var item = e.sender.select();

            if (item.hasClass("k-state-active")) {
                e.sender.collapse(item);
            } else {
                e.sender.expand(item);
            }
        };
        var seyyulPanelBar = $("#seyyulbar").kendoPanelBar({
            expandMode: "single",
            select: onSelect
        }).data("kendoPanelBar");
        seyyulPanelBar.expand($(".k-first"), true);

        Utility.hideResult();
        Utility.setupExample('/api/prosody/Thodaigal', 'thodai');
        $("#ProsodyText").blur(function () {
            Utility.showElement("thodaiSelector");
        });
        $("#prosodyForm").submit(function () {
            Utility.hideResult();
            var data = '{"InputText" : "' + $("#ProsodyText").val() + '"' + '}';
            $.ajax({
                url: '/api/Prosody/ThodaiFinder',
                data: data,
                contentType: 'application/json; charset=utf8',
                type: 'POST',
                async: false,
                success: function (data) {
                    var monaiTemplate = kendo.template($("#monaiTemplate").html());
                    var ethukaiTemplate = kendo.template($("#ethukaiTemplate").html());
                    var iyaipuTemplate = kendo.template($("#iyaipuTemplate").html());

                    var monaiExplanation = monaiTemplate({
                        adigal: data["Lines"],
                        seerMonaiWithinAdi: data["SeerMonaiWithinAdi"],
                        matchingAdiMonai: data["MatchingAdiMonai"]
                    });

                    var chosenMonai = $("#monai-dropdown").text().trim();
                    if (chosenMonai === data["SeerMonaiWithinAdi"][0][1][0]) {
                        Utility.showCorrect("monai", monaiExplanation);
                    } else {
                        Utility.showIncorrect("monai", monaiExplanation);
                    }

                    var ethukaiExplanation = ethukaiTemplate({
                        adigal: data["Lines"],
                        seerEthukaiWithinAdi: data["SeerEthukaiWithinAdi"],
                        matchingAdiEthukai: data["MatchingAdiEthukai"]
                    });

                    var chosenEthukai = $("#ethukai-dropdown").text().trim();
                    if (chosenEthukai === data["SeerEthukaiWithinAdi"][0][1][0]) {
                        Utility.showCorrect("ethukai", ethukaiExplanation);
                    } else {
                        Utility.showIncorrect("ethukai", ethukaiExplanation);
                    }
                    var iyaipuExplanation = iyaipuTemplate({
                        adigal: data["Lines"],
                        seerIyaipuWithinAdi: data["SeerIyaipuWithinAdi"],
                        matchingAdiIyaipu: data["MatchingAdiIyaipu"]
                    });

                    var chosenIyaipu = $("#iyaipu-dropdown").text().trim();
                    if (chosenIyaipu === data["SeerIyaipuWithinAdi"][0][1][0]) {
                        Utility.showCorrect("iyaipu", iyaipuExplanation);
                    } else {
                        Utility.showIncorrect("iyaipu", iyaipuExplanation);
                    }
                    Utility.showElement("result");
                },
                error: function (data) {
                    alert('error');
                }
            });
            return false;
        });
    });
</script>