@{
    ViewBag.Title = "வெண்பா உரையாடல்கள்";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <h3>பாகம் 1</h3>
    <div id="part1"></div>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D723228581025533%26id%3D362204400461288&width=500" width="500" height="280" style="border: none; overflow: hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</article>
<article>
    <h3>பாகம்  2</h3>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D752117361469988%26id%3D362204400461288&width=500" width="500" height="274" style="border: none; overflow: hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</article>
<article>
    <h3>பாகம்  3</h3>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D723409581007433%26id%3D362204400461288&width=500" width="500" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</article>
<article>
    <h3>பாகம் 4</h3>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1212478348767218%26id%3D362204400461288&width=500" width="500" height="293" style="border: none; overflow: hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</article>

@{ Html.RenderPartial("_CommonKendoTemplates"); }
<script>
    $(document).ready(function() {
        for (var i = 1; i < 2; i++) {
            var venpaaConverstationsTemplate = kendo.template($("#venpaaConversationsTemplate").html());
            $('#part' + i).append(venpaaConverstationsTemplate({ part: i }));
        }
    })
</script>