@{
    ViewBag.Title = "வெண்பாக்கள்";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <h3>வெண்பாக்கள்</h3>
    <div id="blogContent" style="width: 1200px; height: 500px;"></div>
</article>
<script>
    document.getElementById("blogContent").innerHTML = '<object type="text/html" data="http://thamizharvalan.blogspot.com/"></object>';
</script>