<script type="text/x-kendo-template" id="inputTemplate">
    # var help = ProsodyResourceManager.get("help"); var quiz = ProsodyResourceManager.get("quiz"); #
    <div class="text-t5">
        #= inputTitle #
    </div>
    <div class="m-b-lg">
        <button class="btn btn-primary btn-with-glyph pull-right" id="btn-quiz"><i class="glyph glyph-show-results "></i>#= quiz #</button>
        <button class="btn btn-primary btn-with-glyph pull-right" id="btn-help"><i class="glyph glyph-help "></i>#= help #</button>
    </div>
    <div class="infotip">
        <span class="text-t9">#= inputInfotip #</span>
    </div>
    <textarea class="panelbar-textarea" id="ProsodyText" rows="#= inputLines #" minlength="2"></textarea>
    # var sample = ProsodyResourceManager.get("sample"); var checkAnswer = ProsodyResourceManager.get("checkAnswer"); #
    # var clear = ProsodyResourceManager.get("clear"); #
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary btn-with-glyph" id="example"><i class="glyph glyph-import "></i>#= sample #</button>
            <button type="reset" class="btn btn-default">#= clear #</button>
            <button type="submit" class="btn btn-primary btn-with-glyph" id="checkResult"><i class="glyph glyph-message"></i>#= checkAnswer #</button>
        </div>
    </div>

</script>

<script type="text/x-kendo-template" id="additionalInfoTemplate">
    <ul class="kendo-panelbars-custom" id="seyyulResult">
        <li>
            <h4 class="main-title">
                #= ProsodyResourceManager.get("additionalInformation") #
                <span class="main-title-icon glyph glyph-chevron-down"></span>
            </h4>

            <div id="tabstrip" class="menyappu-content-tabstrip">
                <ul>
                    <li class="k-state-active">
                        #= ProsodyResourceManager.get("quiz") #
                    </li>
                    <li>
                        #= ProsodyResourceManager.get("faq") #
                    </li>
                </ul>
                <div>
                    <div class="container-fluid">
                        <div class="col-md-12">
                        #= ProsodyResourceManager.get("comingSoon") #
                        </div>
                        <div class="col-md-12">
                            Results tab
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container-fluid">
                        <div class="col-md-12">
                            #= ProsodyResourceManager.get("faq") #
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</script>

<script type="text/x-kendo-template" id="quizTemplate">
    <div class="infotip">
        <span class="text-t9">#= ProsodyResourceManager.get("quizInfoTip") #</span>
    </div>
    # $.each(data, function(index, value) { #
    <a href="\#"><span class="questionNumber unanswered text-t5">#= index + 1 #</span></a>
    # }); #
    <br />
    <br />
    # var previousQuestionButtonId = 'previousQuestion-' + part; var nextQuestionButtonId = 'nextQuestion-' + part; var finishQuestionButtonId = 'finishQuestion-' + part #
    <button id="#= previousQuestionButtonId #" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-previous"></i>#= ProsodyResourceManager.get("previous") #</button>
    <button id="#= nextQuestionButtonId #" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-next"></i>#= ProsodyResourceManager.get("next") #</button>
    <button id="#= finishQuestionButtonId #" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-accept"></i>#= ProsodyResourceManager.get("finish") #</button>
    <br />
    # $.each(data, function(index, value) { #
    <div id="#= 'q-' + (index + 1) #" class="hidden">
        <br />
        <a href="\#"><span class="questionNumber unanswered text-t5">#= index + 1 #</span></a>#= value['q'] #
        # console.log(data.length); console.log(data[index]['t']); console.log(data[index]['c']); #
        # var controlType = (data[index]['t'] === "ஒ") ? "radio" : (data[index]['t'] === "ப" ? "checkbox" : "radio"); #
        <div class="form-group">
            <p class="form-group-label"></p>
            # $.each(data[index]['c'], function(cindex, cvalue) { #
            <div class="#= controlType #">
                <label>
                    <input type="#= controlType #" name="#= 'answer-' + (index + 1) #" value="#= cvalue[cindex + 1] #">
                    <span>
                        #= cvalue[cindex + 1] #
                        <i class="correctAnswer hidden glyph glyph-accept"></i>
                        <i class="incorrectAnswer hidden glyph glyph-cancel"></i>
                    </span>
                </label>
            </div>
            # }); #
        </div>
    </div>
    # }); #
</script>

<script type="text/x-kendo-template" id="quizResultTemplate">
    <div class="text-t3 text-center">#= ProsodyResourceManager.get("result") #</div>
    <br/>
    <div id="score" class="text-t5 text-right"></div>
    <br/>
    # $.each(data, function(index, value) { #
    <a href="\#"><span class="questionNumber unanswered text-t5">#= index + 1 #</span></a>
    # }); #
    <br />
    <br />

    # $.each(data, function(index, value) { #
    <div id="#= 'q-' + (index + 1) #" >
        <br />
        <a href="\#"><span class="questionNumber unanswered text-t5">#= index + 1 #</span></a>#= value['q'] #
        # console.log(data.length); console.log(data[index]['t']); console.log(data[index]['c']); #
        # var controlType = (data[index]['t'] === "ஒ") ? "radio" : (data[index]['t'] === "ப" ? "checkbox" : "radio"); #
        <div class="form-group">
            <p class="form-group-label"></p>
            # $.each(data[index]['c'], function(cindex, cvalue) { #
            <div class="#= controlType #">
                <label>
                    <input type="#= controlType #" name="#= 'answer-' + (index + 1) #" value="#= cvalue[cindex + 1] #">
                    <span>
                        #= cvalue[cindex + 1] #
                        <i class="correctAnswer hidden glyph glyph-accept"></i>
                        <i class="incorrectAnswer hidden glyph glyph-cancel"></i>
                    </span>
                </label>
            </div>
            # }); #
        </div>
    </div>
    # }); #
</script>

<script type="text/x-kendo-template" id="faqTemplate">
    # var expandAllButtonId = 'expandAllFaq-' + part; var collapseAllButtonId = 'collapseAllFaq-' + part; #
    <button id="#= expandAllButtonId #" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-expand"></i>#= ProsodyResourceManager.get("expandAll") #</button>
    <button id="#= collapseAllButtonId #" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-collapse"></i>#= ProsodyResourceManager.get("collapseAll") #</button>
    <a class="btn btn-lightweight no-outline navigation-btn">Question1</a>
    <ul role="navigation" id="sidenav-small" class="nav side-navigation side-navigation-small theme-default">
        <button type="button" class="close" data-dismiss="side-navigation" aria-label="close">
            <i class="glyph glyph-cancel"></i>
        </button>
        # $.each(data, function(index, value) { #
        # console.log(value['q'] + ' - '  + value['a']); #
        # var questionid = '\#question-' + index; console.log(questionid); #
        <li class="active side-nav-c2">
            <a data-toggle="collapse" data-parent="\#sidenav-small" href="#= questionid #" aria-expanded="true" aria-controls="#= questionid #">
                <i class="expandCollapse glyph glyph-collapse"></i>#= value["q"] #
            </a>
            <ul class="nav collapse in" id="#= 'question-' + index #">
                <li><a href="\#sidenav-small">#= value['a'] #</a></li>
            </ul>
        </li>
        # }); #
    </ul>
</script>
<script type="text/x-kendo-template" id="resultTemplate">
    # var partCorrect = part + "-correct"; var partIncorrect = part + "-incorrect"; var partExplanation = part + "-explanation"; #
    # var result = ProsodyResourceManager.get("result"); var howToSeeTheResult = ProsodyResourceManager.get("howToSeeTheResult"); #
    <div class="flip-container_click">
        <div class="flipper">
            <div class="front">
                <h4 class="game-section-title text-center">
                    #= result #
                </h4>
                <div class="type-t5">
                    #= howToSeeTheResult #
                </div>
            </div>
            <div class="back">
                <h4 class="game-section-title text-center">
                    #= result #
                </h4>
                # var correct =  ProsodyResourceManager.get("correct"); var incorrect = ProsodyResourceManager.get("incorrect"); #
                # var explanation = ProsodyResourceManager.get("explanation"); var excellent = ProsodyResourceManager.get("excellent"); #
                <div class="type-t3 text-center">
                    <button id="#= partCorrect #" class="right btn btn-success btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right"><i class="glyph glyph-checkmark"></i>#= correct #</button>
                    <button id="#= partIncorrect #" class="wrong btn btn-warning btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right">
                        <i class="glyph glyph-cancel"></i>
                        #= incorrect #
                    </button>
                    <a role="button" id="#= partExplanation #"
                       class="btn btn-primary btn-with-glyph"
                       tabindex="0"
                       data-toggle="popover"
                       data-trigger="focus"
                       data-content="#= excellent #"><i class="glyph glyph-message"></i>#= explanation #</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="multiResultsTemplate">
    # var result = ProsodyResourceManager.get("result"); var howToSeeTheResult = ProsodyResourceManager.get("howToSeeTheResult"); #
    <div class="flip-container_click">
        <div class="flipper">
            <div class="front">
                <h4 class="game-section-title text-center">
                    #= result #
                </h4>
                <div class="type-t5">
                    #= howToSeeTheResult #
                </div>
            </div>
            <div class="back">
                <h4 class="game-section-title text-center">
                    #= result #
                </h4>
                # partInfos.forEach(function(partInfo) { #
                # var partCorrect = partInfo.part + "-correct"; var partIncorrect = partInfo.part + "-incorrect"; var partExplanation = partInfo.part + "-explanation" #
                # if(partInfo.partHeader) { #
                <p class="form-group-label text-center">#= partInfo.partHeader #</p>
                # } #
                # var correct =  ProsodyResourceManager.get("correct"); var incorrect = ProsodyResourceManager.get("incorrect"); #
                # var explanation = ProsodyResourceManager.get("explanation"); var excellent = ProsodyResourceManager.get("excellent"); #
                <div class="type-t3 text-center">
                    <button id="#= partCorrect #" class="right btn btn-success btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right"><i class="glyph glyph-checkmark"></i>#= correct #</button>
                    <button id="#= partIncorrect #" class="wrong btn btn-warning btn-with-glyph" aria-hidden="true" data-toggle="tooltip" data-placement="right">
                        <i class="glyph glyph-cancel"></i>
                        #= incorrect #
                    </button>
                    <a role="button" id="#= partExplanation #"
                       class="btn btn-primary btn-with-glyph"
                       tabindex="0"
                       data-toggle="popover"
                       data-trigger="focus"
                       data-content="#= excellent #"><i class="glyph glyph-message"></i>#= explanation #</a>
                </div>
                # }); #
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="venpaaConversationsTemplate">
    # var audioId = "aud-venpaa_conversations_part" + part; var audioFile = "/audio/venpaa_conversations_part" + part + ".mp3"; #
    <audio id="#= audioId #" controls="controls" preload="auto">
        <source src="#= audioFile #" controls>
        Your browser isn't invited for super fun audio time.
    </audio>
</script>

<script type="text/x-kendo-template" id="aboutMenYappuTemplate">
    # var menYappu = ProsodyResourceManager.get("menYappu"); var aboutMenYappuDetails = ProsodyResourceManager.get("aboutMenYappuDetails"); #
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="modal-sample-label">
                    <b>#= menYappu #</b>
                </span>
            </div>
            <div class="modal-body">
                #= aboutMenYappuDetails #
            </div>
            <br />
            <div>
                # var task = ProsodyResourceManager.get("task"); var executor = ProsodyResourceManager.get("executor"); #
                # var softwareDevelopment = ProsodyResourceManager.get("softwareDevelopment"); var design = ProsodyResourceManager.get("design"); #
                # var inspirationAndMotivation = ProsodyResourceManager.get("inspirationAndMotivation"); var suggestionAndReview = ProsodyResourceManager.get("suggestionAndReview"); #
                # var rajaMani = ProsodyResourceManager.get("rajaMani"); var bogdanUrs = ProsodyResourceManager.get("bogdanUrs"); #
                # var vinodRajan = ProsodyResourceManager.get("vinodRajan"); var kandasamyPalanisamy = ProsodyResourceManager.get("kandasamyPalanisamy"); #
                # var close = ProsodyResourceManager.get("close"); #
                <table class="table">
                    <thead>
                        <tr><th>#= task #</th><th>#= executor #</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>#= softwareDevelopment #</td><td>#= rajaMani #</td></tr>
                        <tr><td>#= design #</td><td>#= bogdanUrs #</td></tr>
                        <tr><td>#= inspirationAndMotivation #</td><td>#= vinodRajan #</td></tr>
                        <tr><td>#= suggestionAndReview #</td><td>#= kandasamyPalanisamy #</td></tr>
                    </tbody>
                </table>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    #= close #
                </button>
            </div>
        </div>
    </div>

</script>
<div class="modal modal-center-vertical" id="modal-about-menyappu"
     tabindex="-1" role="dialog"
     aria-labelledby="modal-about-menyappu-label" aria-hidden="true">

</div>

<script type="text/x-kendo-template" id="audioVideoHelpTemplate">
    # var audioId = "aud-" + part + '-' + container; var audioFile = "/audio/" + part + ".mp3"; #
    <audio id="#= audioId #" preload="auto">
        <source src="#= audioFile #" controls>
        Your browser isn't invited for super fun audio time.
    </audio>
    # var audio = ProsodyResourceManager.get("audio"); var video = ProsodyResourceManager.get("video"); #
    # var audioButtonId = "play-audio-" + part + '-' + container; var videoButtonId = "play-video-" + part + '-' + container; #
    # var modalVideoId = "\#modal-video-" + part + '-' + container; #
    <button id="#= audioButtonId #" class="btn btn-primary btn-with-glyph"><i class="glyph glyph-play"></i>#= audio #</button>
    <button id="#= videoButtonId #" class="btn btn-primary btn-with-glyph" data-toggle="modal" data-target="#= modalVideoId #"><i class="glyph glyph-video"></i>#= video #</button>
</script>

<script type="text/x-kendo-template" id="modalVideoHelpTemplate">
    # var menYappu = ProsodyResourceManager.get("menYappu"); var close = ProsodyResourceManager.get("close"); #
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-sample-label">
                    #= menYappu #
                </h4>
            </div>
            <div class="modal-body text-center">
                <iframe width="420" height="315" src="#= videoUrl #" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    #= close #
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="helpVariablesTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var audioVideoControlsId = 'audio-video-controls-' + part + '-' + container; console.log(audioVideoControlsId); #
    <div class="m-l-xxs" id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-' + part + '-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
</script>


<!-- Help Templates-->
<script type="text/x-kendo-template" id="introductionHelpTemplate">
    <h2>அறிமுகம்</h2>
    <div class="container-fluid">
        <div class="row">
            <p>
                மரபுக் கவிதை இயற்றும் முறையை எடுத்துரைப்பது யாப்பிலக்கணமாகும்.
            </p>
            <p>
                யாப்பு - கட்டுதல்
                <br /> யாப்பு, பாட்டு, தூக்கு, தொடர்பு, கவி, செய்யுள் – ஒரு பொருட் சொற்கள்

        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="ezhuthuVagaiHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var audioVideoControlsId = 'audio-video-controls-' + part + '-' + container; console.log(audioVideoControlsId); #
    <div class="m-l-xxs" id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-' + part + '-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>

    <div class="container-fluid">
        <div class="row">
            <h2>எழுத்து வகைகள்</h2>
            <ul>

                <li>
                    முதல் எழுத்து (Primary) - 2
                </li>
                <li>
                    சார்பெழுத்து (Secondary) - 10
                </li>
            </ul>

            <h3>முதல் எழுத்து (Primary) </h3>

            <h4>உயிர் எழுத்து (Vowel) – 12</h4>
            <div class="table-responsive">
                <table class="table table-striped">

                    <tbody>
                        <tr>
                            <td>அ</td>
                            <td>ஆ</td>
                            <td>இ</td>
                            <td>ஈ</td>
                            <td>உ</td>
                            <td>ஊ</td>
                            <td>எ</td>
                            <td>ஏ</td>
                            <td>ஐ</td>
                            <td>ஒ</td>
                            <td>ஓ</td>
                            <td>ஒள</td>
                        </tr>
                </table>
            </div>
            <h4>மெய் எழுத்து (Consonant) – 18</h4>
            <div class="table-responsive">
                <table class="table table-striped">

                    <tbody>
                        <tr>
                            <td>க்</td>
                            <td>ங்</td>
                            <td>ச்</td>
                            <td>ஞ்</td>
                            <td>ட்</td>
                            <td>ண்</td>
                            <td>த்</td>
                            <td>ந்</td>
                            <td>ப்</td>
                            <td>ம்</td>
                            <td>ய்</td>
                            <td>ர்</td>
                            <td>ல்</td>
                            <td>வ்</td>
                            <td>ழ்</td>
                            <td>ள்</td>
                            <td>ற்</td>
                            <td>ன்</td>
                        </tr>
                </table>
            </div>
            <h3>உயிர் எழுத்து வகைகள்</h3>
            <ul>

                <li>
                    குறில் (Short) - 5
                </li>
                <li>
                    நெடில் (Long) - 7 (கூட்டுயிர் – 2 உட்பட)
                </li>
                <li>
                    கூட்டுயிர் (Diphthong) - 2
                </li>
            </ul>

            <h4>குறில் (Short) – 5</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>அ</td>
                            <td>இ</td>
                            <td>உ</td>
                            <td>எ</td>
                            <td>ஒ</td>
                        </tr>
                </table>
            </div>
            <h4>நெடில் (Long) - 7  (கூட்டுயிர் – 2 உட்பட)</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>ஆ</td>
                            <td>ஈ</td>
                            <td>ஊ</td>
                            <td>ஏ</td>
                            <td>ஐ</td>
                            <td>ஓ</td>
                            <td>ஒள</td>
                        </tr>
                </table>
            </div>
            <h4>கூட்டுயிர் (Diphthong) - 2</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>ஐ</td>
                            <td>ஒள</td>
                        </tr>
                </table>
            </div>

            <h3>மெய் எழுத்து வகைகள்</h3>
            <ul>
                <li>
                    வல்லினம் (Hard) – 6
                </li>
                <li>
                    மெல்லினம் (Soft) – 6
                </li>
                <li>
                    இடையினம் (Medial) – 6
                </li>
            </ul>
            <h4>வல்லினம் (Hard) – 6</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>க்</td>
                            <td>ச்</td>
                            <td>ட்</td>
                            <td>த்</td>
                            <td>ப்</td>
                            <td>ற்</td>
                        </tr>
                </table>
            </div>
            <h4>மெல்லினம் (Soft) – 6</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>ங்</td>
                            <td>ஞ்</td>
                            <td>ண்</td>
                            <td>ந்</td>
                            <td>ம்</td>
                            <td>ன்</td>
                        </tr>
                </table>
            </div>
            <h4>இடையினம் (Medial) – 6</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>ய்</td>
                            <td>ர்</td>
                            <td>ல்</td>
                            <td>வ்</td>
                            <td>ழ்</td>
                            <td>ள்</td>
                        </tr>
                </table>
            </div>

            <h3>சார்பு எழுத்து வகைகள் - 10</h3>
            <ul>

                <li>
                    உயிர்மெய் (Vowel Consonant) - 216
                </li>
                <li>
                    ஆய்தம் - 1
                </li>
                <li>
                    உயிரளபெடை - 4
                    <ul>
                        <li>இயற்கை அளபெடை</li>
                        <li>சொல்லிசை அளபெடை</li>
                        <li>இன்னிசை அளபெடை</li>
                        <li>செய்யுளிசை அளபெடை</li>
                    </ul>
                </li>
                <li>
                    ஒற்றளபெடை - 1
                </li>
                <li>
                    குற்றியலுகரம் - 6
                    <ul>
                        <li>நெடில் தொடர்க் குற்றியலுகரம்</li>
                        <li>ஆய்தத் தொடர்க் குற்றியலுகரம்</li>
                        <li>உயிர்த் தொடர்க் குற்றியலுகரம்</li>
                        <li>வன்தொடர்க் குற்றியலுகரம்</li>
                        <li>மென்தொடர்க் குற்றியலுகரம்</li>
                        <li>இடைத்தொடர்க் குற்றியலுகரம்</li>
                    </ul>
                <li>
                    குற்றியலிகரம் - 2
                    <ul>
                        <li>தனிமொழிக் குற்றியலிகரம்</li>
                        <li>தொடர்மொழிக் குற்றியலிகரம்</li>
                    </ul>
                </li>
                <li>
                    குறுக்கங்கள் - 4
                    <ul>
                        <li>ஐகாரக்குறுக்கம்</li>
                        <li>ஒளகாரக்குறுக்கம்</li>
                        <li>மகரக்குறுக்கம்</li>
                        <li>ஆய்தக்குறுக்கம்</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    <div class="#= helptextClass #">
        <span class="type-t6">மாத்திரை</span>
        <br />
        எழுத்து ஒலி அளவு மாத்திரை எனப்படும்.
    </div>

    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>எழுத்து</th>
                <th>மாத்திரை</th>
            </tr>
        </thead>
        <tbody>
            <tr class="kuril">
                <td class="col-md-3">குறில்</td>
                <td>1</td>
            </tr>
            <tr class="nedil">
                <td>நெடில்</td>
                <td>2</td>
            </tr>
            <tr class="otru">
                <td>ஒற்று/மெய்</td>
                <td>½</td>
            </tr>
            <tr class="aytham">
                <td>ஆய்தம்</td>
                <td>½</td>
            </tr>
        </tbody>
    </table>


</script>

<script type="text/x-kendo-template" id="mathiraiHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    <div class="#= helptextClass #">
        <span class="type-t6">மாத்திரை</span>
        <br />
        எழுத்து ஒலி அளவு மாத்திரை எனப்படும்.
    </div>

    # var audioVideoControlsId = 'audio-video-controls-mathirai-' + container; console.log(audioVideoControlsId); #
    <div id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-mathirai-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>எழுத்து</th>
                <th>மாத்திரை</th>
            </tr>
        </thead>
        <tbody>
            <tr class="kuril">
                <td class="col-md-3">குறில்</td>
                <td>1</td>
            </tr>
            <tr class="nedil">
                <td>நெடில்</td>
                <td>2</td>
            </tr>
            <tr class="otru">
                <td>ஒற்று/மெய்</td>
                <td>½</td>
            </tr>
            <tr class="aytham">
                <td>ஆய்தம்</td>
                <td>½</td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/x-kendo-template" id="asaiHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    # var audioVideoControlsId = 'audio-video-controls-asai-' + container; console.log(audioVideoControlsId); #
    <div class="m-l-xxs" id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-asai-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>
    <div class="#= helptextClass #">
        <span class="type-t6">அசை (Metric Syllable/Metreme)</span>
        <br />
        எழுத்துகள் ஒன்றோ இரண்டோ அசைந்து இசைபட நிற்பது அசை ஆகும்.
    </div>
    <br />

    <div class="#= helptextClass #">
        <span class="type-t6">நேரசை (ஓருயிர்/தனி அசை)</span>
        <br />
        குறில் அல்லது நெடில் தனித்தோ அல்லது ஒற்றடுத்தோ வருவது நேரசைகளாம். குறில் சீரின் கடைசியில் வரும்போதுதான் நேரசையாகும்.
    </div>

    <table class="#= tableClass #">
        <tbody>
            <tr>
                <td class="col-md-1">1.</td>
                <td class="col-md-6">தனிக்குறில்</td>
                <td>ம</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>குறிலொற்று</td>
                <td>மண்</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>தனி நெடில்</td>
                <td>மா</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>நெடிலொற்று</td>
                <td>மான்</td>
            </tr>
        </tbody>
    </table>
    <div class="#= helptextClass #">
        எ.கா.
        <br />
        <span class="thaninedil">ரா</span>/<span class="thanikkuril">ணி</span> <span class="kurilotru">வந்</span>/<span class="nedilotru">தாள்</span> – <span class="thaninedil">தனி</span> <span class="thaninedil">நெடில்</span>/<span class="thanikkuril">தனிக்குறில்</span> 		<span class="kurilotru">குறிலொற்று</span>/<span class="nedilotru">நெடிலொற்று</span>
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6">நிரையசை (ஈருயிர் அசை)</span>
        <br />
        குறிலிணை அல்லது  குறிநெடில் தனித்தோ அல்லது ஒற்றடுத்தோ வருவது நிரையசைகளாம்.
    </div>
    <table class="#= tableClass #">
        <tbody>
            <tr>
                <td class="col-md-1">1.</td>
                <td class="col-md-6">குறிலிணை</td>
                <td>புலி</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>குறிலிணையொற்று</td>
                <td>முறம்</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>குறிநெடில்</td>
                <td>புறா</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>குறிநெடிலொற்று</td>
                <td>முகாம்</td>
            </tr>
        </tbody>
    </table>
    <div class="#= helptextClass #">
        எ.கா.
        <br />
        <span class="kurilinai">கவி</span>/<span class="kurinedil">நிலா</span> <span class="kurilinaiyotru">புலம்</span>/<span class="kurinedilotru">பினாள்</span> - <span class="kurilinai">குறிலிணை</span>/<span class="kurinedil">குறிநெடில்</span> <span class="kurilinaiyotru">குறிலிணையொற்று</span>/<span class="kurinedilotru">குறிநெடிலொற்று</span>
    </div>

</script>

<script type="text/x-kendo-template" id="seerHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var audioVideoControlsId = 'audio-video-controls-seer-' + container; console.log(audioVideoControlsId); #
    <div id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-seer-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    <div class="#= helptextClass #">
        <span class="type-t6" id="seer">சீர் (Metrical foot)</span>
        <br />
        அசையால் அமைவது சீர் ஆகும்.
    </div>
    <br />

    <table class="#= tableClass #">
        <tbody>
            <tr>
                <td class="col-md-8">1. ஓரசைச்சீர் <a href="\#orasai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>2. ஈரசைச்சீர் <a href="\#eerasai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>3. மூவசைச்சீர் <a href="\#moovasai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>4. நாலசைச்சீர் <a href="\#naalasai"><i class="glyph glyph-go"></i></a></td>
            </tr>
        </tbody>
    </table>
    <div class="#= helptextClass #">
        <span class="type-t6" id="orasai">ஓரசைச்சீர் வகை<a href="\#seer"><i class="glyph glyph-up"></i></a></span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வாய்பாடு</th>
                <th>காட்டு</th>
            </tr>
        </thead>
        <tbody>
            <tr class="naal">
                <td class="col-md-4">நாள்</td>
                <td class="col-md-4">நேரசை</tdclass="col-md-4">
                <td>கல்</td>
            </tr>
            <tr class="malar">
                <td>மலர்</td>
                <td>நிரையசை</td>
                <td>தமிழ்</td>
            </tr>
            <tr class="kaasu">
                <td>காசு</td>
                <td>தனிக்குறில் தவிர நேரசையுடன் குற்றியலுகரம் சேர்ந்து நேர்பு ஆகும்</td>
                <td>நன்று</td>
            </tr>
            <tr class="pirappu">
                <td>பிறப்பு</td>
                <td>நிரையசையுடன் குற்றியலுகரம் சேர்ந்தது நிரைபு ஆகும்</td>
                <td>உலகு</td>
            </tr>
        </tbody>
    </table>
    <div class="#= helptextClass #">
        <span class="type-t6" id="eerasai">ஈரசைச்சீர் வகை: மாச்சீர், விளச்சீர்<a href="\#seer"><i class="glyph glyph-up"></i></a></span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வாய்பாடு</th>
                <th>காட்டு</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thema">
                <td class="col-md-4">தேமா</td>
                <td class="col-md-4">நேர்/நேர்</td>
                <td>நாடு</td>
            </tr>
            <tr class="pulima">
                <td>புளிமா</td>
                <td>நிரை/நேர்</td>
                <td>பொறுமை</td>
            </tr>
            <tr class="koovilam">
                <td>கூவிளம்</td>
                <td>நேர்/நிரை</td>
                <td>யாரது</td>
            </tr>
            <tr class="karuvilam">
                <td>கருவிளம்</td>
                <td>நிரை/நிரை</td>
                <td>புலிக்குகை</td>
            </tr>
        </tbody>
    </table>
    <div class="#= helptextClass #">
        <span class="type-t6" id="moovasai">மூவசைச்சீர் வகை: காய்ச்சீர், கனிச்சீர்<a href="\#seer"><i class="glyph glyph-up"></i></a></span>
        <br />
        <br />
        <span class="type-t6">காய்ச்சீர் வகை</span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வாய்பாடு</th>
                <th>காட்டு</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thema">
                <td>தேமாங்காய்</td>
                <td>நேர்/நேர்/நேர்</td>
                <td>ஆனந்தம்</td>
            </tr>
            <tr class="pulima">
                <td>புளிமாங்காய்</td>
                <td>நிரை/நேர்/நேர்</td>
                <td>பணக்காரன்</td>
            </tr>
            <tr class="koovilam">
                <td>கூவிளங்காய்</td>
                <td>நேர்/நிரை/நேர்</td>
                <td>யாரவர்கள்</td>
            </tr>
            <tr class="karuvilam">
                <td>கருவிளங்காய்</td>
                <td>நிரை/நிரை/நேர்</td>
                <td>புலிக்குகையில்</td>
            </tr>
        </tbody>
    </table>
    <div class="#= helptextClass #">
        <span class="type-t6" id="naalasai">கனிச்சீர் வகை<a href="\#seer"><i class="glyph glyph-up"></i></a></span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வாய்பாடு</th>
                <th>காட்டு</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thema">
                <td>தேமாங்கனி</td>
                <td>நேர்/நேர்/</td>
                <td>ஆனந்தமோ</td>
            </tr>
            <tr class="pulima">
                <td>புளிமாங்கனி</td>
                <td>நிரை/நேர்/நிரை</td>
                <td>பணக்காரனே</td>
            </tr>
            <tr class="koovilam">
                <td>கூவிளங்கனி</td>
                <td>நேர்/நிரை/நிரை</td>
                <td>யாரவர்களை</td>
            </tr>
            <tr class="karuvilam">
                <td>கருவிளங்கனி</td>
                <td>நிரை/நிரை/நிரை</td>
                <td>புலிக்குகையிலோர்</td>
            </tr>
        </tbody>
    </table>

</script>

<script type="text/x-kendo-template" id="thalaiHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var audioVideoControlsId = 'audio-video-controls-thalai-' + container; console.log(audioVideoControlsId); #
    <div id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-thalai-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    <div class="#= helptextClass #">
        <span class="type-t6">தளை (Linkage)</span>
        <br />
        இரண்டு சீர்களை இணைப்பது தளை ஆகும்.
        <br />
        தளைகள் ஏழு வகைப்படும்.
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6">தளை வகை</span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>தளை</th>
                <th>வாய்பபாடு</th>
                <th>காட்டு</th>
            </tr>
        </thead>
        <tbody>
            <tr class="naal">
                <td class="col-md-4">நேரொன்றாசிரியத்தளை</td>
                <td class="col-md-4">மாச்சீர் + நேரசை</td>
                <td>ராஜா வாடா  = தேமா நேர்</td>
            </tr>
            <tr class="malar">
                <td>நிரையொன்றாசிரியத்தளை</td>
                <td>விளச்சீர் + நிரையசை</td>
                <td>பூங்குழல் அசைய  = கூவிளம் நிரை</td>
            </tr>
            <tr class="kaasu">
                <td>இயற்சீர் வெண்டளை</td>
                <td>மாச்சீர் + நிரையசை  (அ) <br />விளச்சீர் + நேரசை</td>
                <td>பூவிழி கண்டேன் = கூவிளம் நேர் <br />அதித்தி வருக  = புளிமா நிரை</td>
            </tr>
            <tr class="pirappu">
                <td>வெண்சீர் வெண்டளை</td>
                <td>காய்ச்சீர் + நேரசை</td>
                <td>மென்பொருளில் மூழ்கு = கூவிளங்காய்  நேர்</td>
            </tr>
            <tr class="naal">
                <td>கலித்தளை</td>
                <td>காய்ச்சீர் + நிரையசை</td>
                <td>மென்பொருளால் வளம் = கூவிளங்காய்  நிரை</td>
            </tr>
            <tr class="malar">
                <td>ஒன்றிய வஞ்சித்தளை</td>
                <td>கனிச்சீர் + நிரையசை</td>
                <td>குளிர்பனியினில் உறைந்தேன் = கருவிளங்கனி  நிரை</td>
            </tr>
            <tr class="kaasu">
                <td>ஒன்றா வஞ்சித்தளை</td>
                <td>கனிச்சீர் + நேரசை</td>
                <td>குளிர்பனியினில் செல்லாதே = கருவிளங்கனி  நேர்</td>
            </tr>
        </tbody>
    </table>

</script>

<script type="text/x-kendo-template" id="thodaiHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    <div class="#= helptextClass #">
        <span class="type-t6" id="thodai">தொடை (Ornament/Ornamentation)</span>
        <br />
        தொடுக்கப்படுவது தொடை எனப்படும்.
    </div>
    <div class="#= helptextClass #">
        <span class="type-t6" id="thodaivagai">தொடை வகை</span>
    </div>
    <br />
    <table class="#= tableClass #">
        <tbody>
            <tr>
                <td>1. மோனை(Alliteration)<a href="\#monai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>2. எதுகை(Rhyme)<a href="\#ethukai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>3. இயைபு(End-Rhyme)<a href="\#iyaipu"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>4. முரண்(antithesis/oxymoron)<a href="\#muran"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>5. அளபெடை(Overlengthening)<a href="\#alapedai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>6. இரட்டைத் தொடை(Repetition)<a href="\#irattaithodai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>7. அந்தாதித் தொடை (Metrical Sequence)<a href="\#anthathithodai"><i class="glyph glyph-go"></i></a></td>
            </tr>
            <tr>
                <td>8. செந்தொடை(Blank)<a href="\#senthodai"><i class="glyph glyph-go"></i></a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="#= helptextClass #">
        முதல் ஐந்து தொடைகளில் (மோனை, எதுகை, இயைபு, முரண், அளபெடை) ஒவ்வொன்றும் எட்டு வகைப்படும்.
    </div>
    <div class="#= helptextClass #">
        <span class="type-t6" id="thodaivagai">அவை:</span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வகை</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thema">
                <td class="col-md-6">1 2</td>
                <td>இணை</td>
            </tr>
            <tr class="pulima">
                <td>1 3</td>
                <td>பொழிப்பு</td>
            </tr>
            <tr class="koovilam">
                <td>1 4</td>
                <td>ஒரூஉ</td>
            </tr>
            <tr class="karuvilam">
                <td>1 2 3</td>
                <td>கூழை</td>
            </tr>
            <tr class="thema">
                <td>1 2 4</td>
                <td>கீழ்க்கதுவாய்</td>
            </tr>
            <tr class="pulima">
                <td>1 3 4</td>
                <td>மேற்கதுவாய்</td>
            </tr>
            <tr class="koovilam">
                <td>1 2 3 4</td>
                <td>முற்று</td>
            </tr>
            <tr class="karuvilam">
                <td>3 4</td>
                <td>கடையிணை </td>
            </tr>
            <tr class="thema">
                <td>2 4</td>
                <td>பின்</td>
            </tr>
            <tr class="pulima">
                <td>2 3 4</td>
                <td>கடைக்கூழை</td>
            </tr>
            <tr class="koovilam">
                <td>2 3</td>
                <td>இடைப்புணர்</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="monai">மோனை (Alliteration)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        ஒரு அடியிலுள்ள சீர்களுக்குள் முதல் எழுத்து ஒன்றி வருவது மோனை எனப்படும்.
        அடிகளுக்குள் உள்ள முதல் சீரின் முதல் எழுத்து ஒன்றி வந்தால் “அடி மோனை” எனப்படும்.
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="ethukai">எதுகை (Alliteration)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        ஒரு அடியிலுள்ள சீர்களுக்குள் இரண்டாம் எழுத்து ஒன்றி வருவது எதுகை எனப்படும்.  அது மட்டுமன்றி முதல் எழுத்துகள் ஒரே மாத்திரையளவில் அமைந்திருக்க வேண்டும்.
        அடிகளுக்குள் உள்ள முதல் சீரின் இரண்டாம் எழுத்து ஒன்றி வந்தால் “அடி எதுகை” எனப்படும்.
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="iyaipu">இயைபு (End- Rhyme)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        இறுதியில் உள்ள எழுத்தாவது சொல்லாவது ஒன்றி வருவது இயைபு.
        அடிதோறும் இப்படி ஒன்றி வந்தால் “அடி இயைபு” எனப்படும்.
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>சீர்</th>
                <th>வகை</th>
            </tr>
        </thead>
        <tbody>
            <tr class="thema">
                <td class="col-md-6">4 3</td>
                <td>இணை</td>
            </tr>
            <tr class="pulima">
                <td>4 2</td>
                <td>பொழிப்பு</td>
            </tr>
            <tr class="koovilam">
                <td>4 1</td>
                <td>ஒரூஉ</td>
            </tr>
            <tr class="karuvilam">
                <td>4 3 2</td>
                <td>கூழை</td>
            </tr>
            <tr class="thema">
                <td>4 3 1</td>
                <td>கீழ்க்கதுவாய்</td>
            </tr>
            <tr class="pulima">
                <td>4 2 1</td>
                <td>மேற்கதுவாய்</td>
            </tr>
            <tr class="koovilam">
                <td>4 3 2 1</td>
                <td>முற்று</td>
            </tr>
            <tr class="karuvilam">
                <td>2 1</td>
                <td>கடையிணை</td>
            </tr>
            <tr class="thema">
                <td>3 1</td>
                <td>பின்</td>
            </tr>
            <tr class="pulima">
                <td>3 2 1</td>
                <td>கடைக்கூழை</td>
            </tr>
            <tr class="koovilam">
                <td>3 2</td>
                <td>இடைப்புணர்</td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="muran">முரண்(Antithesis/Oxymoron)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        முரண் என்பது விரோதம் அல்லது மாறுபாடு.
        சொல்லால் முரணாவது ”சொல் முரண்”; பொருளால் முரணாவது “பொருள் முரண்”.
        <br />
        <br />
        <b>சொல் முரண்:</b>
        ”காட்டாவைக் காட்டினான்” – இதில் காட்டா, காட்டி என்பவை ஒன்றுக்கு ஒன்று மாறுபட்ட்து போலச் சொல்லளவில் தோன்றுகின்றன. காட்டா என்பது காட்டுப் பசு என்ற பொருளுடையது.
        <br />
        <br />
        <b>பொருள் முரண்:</b>
        மேடு – பள்ளம், இருள் – ஒளி, செல்வம் - வறுமை
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="alapedai">அளபெடை(Overlengthening)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        உயிரளபெடையோ ஒற்றளபெடையோ தொடர்ந்து வருவது அளபெடைத்தொடை.
        <br />
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="irattaithodai">இரட்டைத் தொடை(Repetition)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        ஓரடி முழுவதும் வந்த சொல்லே திரும்பத் திரும்ப வரும்படி தொடுப்பது இரட்டைத் தொடை.
        <br />
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="anthathithodai">அந்தாதித் தொடை (Metrical Sequence)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        அடிதோறும், ஓரடியின் இறுதியிலுள்ள எழுத்தோ அசையோ அடியோ அடுத்த அடியின் முதலில் தொடர்ந்து வரும்படி தொடுப்பது அந்தாதித்தொடை.
        <br />
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6" id="senthodai">செந்தொடை (Blank)<a href="\#thodai"><i class="glyph glyph-up"></i></a></span>
    </div>
    <div class="#= helptextClass #">
        எந்தத் தொடையும் இல்லாமல் வருவது செந்தொடை.
        <br />
    </div>

</script>

<script type="text/x-kendo-template" id="adiHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var audioVideoControlsId = 'audio-video-controls-adi-' + container; console.log(audioVideoControlsId); #
    <div id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-adi-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    <div class="#= helptextClass #">
        <span class="type-t6">அடி (Metrical line)</span>
        <br />
        சீர்கள் இணைந்து அடி ஆகும்.  செய்யுளில் இடம்பெறும் ஒரு வரியை அடி எனலாம். அடியில் வரும் சீர்களின் எண்ணிக்கைக்கு ஏற்ப அடிகள் பல வகைப்படும்.
        <br />
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6">அடி வகை</span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>அடிகள் எண்ணிக்கை</th>
                <th>அடி வகை</th>
                <th>காட்டு</th>
            </tr>
        </thead>
        <tbody>
            <tr class="naal">
                <td class="col-md-4">ஒரு சீர் உள்ள அடி</td>
                <td class="col-md-4">தனிச்சொல்</td>
                <td>மனிதம்</td>
            </tr>
            <tr class="malar">
                <td>இரண்டு சீர்கள் உள்ள அடி</td>
                <td>குறளடி</td>
                <td>சுருங்கியது உலகமும்</td>
            </tr>
            <tr class="kaasu">
                <td>மூன்று சீர்கள் உள்ள அடி</td>
                <td>சிந்தடி</td>
                <td>ஊரணியாய்த் தந்த கவி</td>
            </tr>
            <tr class="pirappu">
                <td>நான்கு சீர்கள் உள்ள அடி</td>
                <td>அளவடி</td>
                <td>பாரதி தன்கவியால் பாரதில் தீந்தமிழை</td>
            </tr>
            <tr class="naal">
                <td>ஐந்து சீர்கள் உள்ள அடி</td>
                <td>நெடிலடி</td>
                <td>பாரதி தன்கவியால் பாரதில் தீந்தமிழை ஊரணியாய்</td>
            </tr>
            <tr class="malar">
                <td>ஆறு (அ) ஆறுக்கும் மேற்பட்ட சீர்கள் உள்ள அடி</td>
                <td>கழிநெடிலடி</td>
                <td>பாரதி தன்கவியால் பாரதில் தீந்தமிழை ஊரணியாய்த் தந்த</td>
            </tr>
        </tbody>
    </table>

</script>

<script type="text/x-kendo-template" id="osaiHelpTemplate">
    # var helptextClass = 'helptext-' + container; console.log(helptextClass); #
    # var audioVideoControlsId = 'audio-video-controls-osai-' + container; console.log(audioVideoControlsId); #
    <div id="#= audioVideoControlsId #"></div>
    <br />
    <br />
    # var videoModalDialogId = 'modal-video-osai-' + container; #
    <div class="modal modal-center-vertical" id="#= videoModalDialogId #" tabindex="-1" role="dialog" aria-labelledby="modal-about-menyappu-label" aria-hidden="true" style="display: none;">

    </div>
    # var tableText = (container === 'main') ? 't7' : 't9'; #
    # var tableClass = "table  type-" + tableText; console.log(tableClass);#
    <div class="#= helptextClass #">
        <span class="type-t6">ஓசை (Sound)</span>
        <br />
        ஒவ்வொரு வகைப் பாவுக்கும் ஒவ்வோர் ஓசை உண்டு. ஓசை என்பது யாப்பின் உறுப்பென வெளிப்படையாகக் குறிப்பிடாவிட்டாலும் ஓசையை விடுத்து யாப்பிலக்கணத்தைப் பற்றிப் பேசவோ கற்கவோ இயலாது.
        <br />
    </div>
    <br />
    <div class="#= helptextClass #">
        <span class="type-t6">ஓசை வகை</span>
    </div>
    <table class="#= tableClass #">
        <thead>
            <tr>
                <th>ஓசை</th>
                <th>விளக்கம்</th>
                <th>
                    பா
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="naal">
                <td class="col-md-4">அகவலோசை</td>
                <td class="col-md-4">ஒருவர் சொற்பொழிவாற்றுவது போன்ற ஓசை</td>
                <td>ஆசிரியப்பா</td>
            </tr>
            <tr class="malar">
                <td>செப்பலோசை</td>
                <td>இருவர் பேசுவது போன்ற ஓசை</td>
                <td>வெண்பா</td>
            </tr>
            <tr class="kaasu">
                <td>துள்ளலோசை</td>
                <td>சீர்தோறும் துள்ளிவரும் ஓசை</td>
                <td>கலிப்பா</td>
            </tr>
            <tr class="pirappu">
                <td>தூங்கலோசை</td>
                <td>சீர்தோறும் ஏறியிறங்காது தாழ்ந்தே வரும் ஓசை</td>
                <td>வஞ்சிப்பா</td>
            </tr>
        </tbody>
    </table>

</script>
