<script type="text/x-kendo-template" id="leftNavigationBarTemplate">
    <div id="left-panel-inwrap">
        <!--Sidebar content-->
        <div class="stacked-menus">
            <div class="clearfix">
                <div id="stacked-menu-toggler-left" class="stacked-menus-toggler">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-hamburger"></span>
                    </span>
                </div>
            </div>
            # var home = ProsodyResourceManager.get("home"); #
            <div class="stacked-menus-items">
                <a class="stacked-menus-items-link page-link" href="/Home/Index" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="home">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-home"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
            # var games = ProsodyResourceManager.get("games"); #
            # var letterTypeFinder = ProsodyResourceManager.get("letterTypeFinder"); #
            # var mathiraiCalculator = ProsodyResourceManager.get("mathiraiCalculator"); #
            # var syllableDivider = ProsodyResourceManager.get("syllableDivider"); #
            # var metricalFootFinder = ProsodyResourceManager.get("metricalFootFinder"); #
            # var linkageFinder = ProsodyResourceManager.get("linkageFinder"); #
            # var metricalLineMeasurer = ProsodyResourceManager.get("metricalLineMeasurer"); #
            # var rhymeAlliterationFinder = ProsodyResourceManager.get("rhymeAlliterationFinder"); #
            # var ornamentationFinder = ProsodyResourceManager.get("ornamentationFinder"); #
            # var soundMatcher = ProsodyResourceManager.get("soundMatcher"); #
            # var writeAPaa = ProsodyResourceManager.get("writeAPaa"); #
            <div class="stacked-menus-items">
                <a id="gamesMenu" class="stacked-menus-items-link page-link" href="\#" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="games">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-devices"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/LetterTypeFinder" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="letterTypeFinder">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/MathiraiCalculator" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="mathiraiCalculator">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/AsaiDivider" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="syllableDivider">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/SeerFinder" data-toggle="tooltip" data-placement="right" title=""  data-original-title="" data-localize="metricalFootFinder">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/ThalaiFinder" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="linkageFinder">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/AdiMeasurer" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="metricalLineMeasurer">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/EthukaiMonaiFinder" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="rhymeAlliterationFinder">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/ThodaiFinder" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="ornamentationFinder">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="stacked-menus-items-submenu">
                    <div class="stacked-menus-items">
                        <a class="stacked-menus-items-link page-link" href="/Games/OsaiMatcher" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="soundMatcher">
                            <span class="stacked-menu-items-icon">
                                <span class="glyph glyph-devices"></span>
                            </span>
                            <span class="stacked-menu-items-text">
                                <span class="ltext"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="stacked-menus-items" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="writeAPaa">
                <a class="stacked-menus-items-link page-link" href="/Poem/Index" >
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-edit-mirrored"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>

            # var venpaas = ProsodyResourceManager.get("venpaas"); #
            <div class="stacked-menus-items" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="venpaas">
                <a class="stacked-menus-items-link page-link" href="/Home/Venpas">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-music-info"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
            # var venpaaConversations = ProsodyResourceManager.get("venpaaConversations"); #
            <div class="stacked-menus-items" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="venpaaConversations">
                <a class="stacked-menus-items-link page-link" href="/Home/VenpaConversations">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-message"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
            # var download = ProsodyResourceManager.get("download"); #
            <div class="stacked-menus-items hidden">
                <a class="stacked-menus-items-link page-link" href="\#" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="download">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-download"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
            # var help = ProsodyResourceManager.get("help"); #
            <div class="stacked-menus-items">
                <a class="stacked-menus-items-link page-link" href="/ProsodyHelp/Introduction" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="help">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-help"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
            # var feedback = ProsodyResourceManager.get("feedback"); #
            <div class="stacked-menus-items">
                <a class="stacked-menus-items-link page-link" href="/Home/Contact" data-toggle="modal" data-placement="right" title="" data-original-title="" data-localize="feedback">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-comment"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
            # var aboutMenYappu = ProsodyResourceManager.get("aboutMenYappu"); #
            <div class="stacked-menus-items">
                <a class="stacked-menus-items-link page-link" href="\#" data-toggle="modal" data-placement="right" title="" data-original-title=""
                   data-target="\#modal-about-menyappu" data-localize="aboutMenYappu">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-info"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
            # var settings = ProsodyResourceManager.get("settings"); #
            <div class="stacked-menus-items hidden">
                <a class="stacked-menus-items-link page-link" href="\#" data-toggle="tooltip" data-placement="right" title="" data-original-title="" data-localize="settings">
                    <span class="stacked-menu-items-icon">
                        <span class="glyph glyph-settings"></span>
                    </span>
                    <span class="stacked-menu-items-text">
                        <span class="ltext"></span>
                    </span>
                </a>
            </div>
        </div>

        <div id="bottom"></div>
    </div>
</script>