<div id="left-panel-inwrap">
    <!--Sidebar content-->
    <div class="stacked-menus">
        <div class="clearfix">
            <div id="stacked-menu-toggler-left" class="stacked-menus-toggler">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-hamburger"></span>
                </span>
            </div>
        </div>
        <div class="stacked-menus-items">
            <a href="/Home/Index" data-toggle="tooltip" data-placement="right" title="முகப்பு" data-original-title="முகப்பு">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-home"></span>
                </span>
                <span class="stacked-menu-items-text">
                    முகப்பு
                </span>
            </a>
        </div>
        <div class="stacked-menus-items" data-toggle="tooltip" data-placement="right" title="வெண்பாக்கள்" data-original-title="வெண்பாக்கள்">
            <a href="/Home/Venpas">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-music-info"></span>
                </span>
                <span class="stacked-menu-items-text">
                    வெண்பாக்கள்
                </span>
            </a>
        </div>
        <div class="stacked-menus-items" data-toggle="tooltip" data-placement="right" title="வெண்பா உரையாடல்" data-original-title="வெண்பா உரையாடல்">
            <a href="/Home/VenpaConversations">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-message"></span>
                </span>
                <span class="stacked-menu-items-text">
                    வெண்பா உரையாடல்
                </span>
            </a>
        </div>
        <div class="stacked-menus-items">
            <a href="#" data-toggle="tooltip" data-placement="right" title="விளையாட்டுகள்" data-original-title="விளையாட்டுகள்">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-devices"></span>
                </span>
                <span class="stacked-menu-items-text">
                    விளையாட்டுகள்
                </span>
            </a>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/LetterTypeFinder" data-toggle="tooltip" data-placement="right" title="எழுத்து வகைபிரி" data-original-title="மாத்திரை எவ்வளவு?">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            எழுத்து வகைபிரி
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/MathiraiCount" data-toggle="tooltip" data-placement="right" title="மாத்திரை எவ்வளவு?" data-original-title="மாத்திரை எவ்வளவு?">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            மாத்திரை எவ்வளவு?
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/AsaiDivider" data-toggle="tooltip" data-placement="right" title="அசை பிரி" data-original-title="அசை பிரி">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            அசை பிரி
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/SeerFinder" data-toggle="tooltip" data-placement="right" title="வாய்பாடு எழுது" data-original-title="வாய்பாடு எழுது">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            சீர் செய்
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/ThalaiFinder" data-toggle="tooltip" data-placement="right" title="தளை தட்டாதே" data-original-title="தளை தட்டாதே">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            தளை தட்டாதே
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/AdiMeasurer" data-toggle="tooltip" data-placement="right" title="அடி அளவிடு" data-original-title="தொடை தொடு">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            அடி அளவிடு
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/EthukaiMonaiFinder" data-toggle="tooltip" data-placement="right" title="எதுகை மோனை எழுது" data-original-title="தொடை தொடு">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            எதுகை மோனை எழுது
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Games/ThodaiFinder" data-toggle="tooltip" data-placement="right" title="தொடை தொடு" data-original-title="தொடை தொடு">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            தொடை தொடு
                        </span>
                    </a>
                </div>
            </div>
            <div class="stacked-menus-items-submenu">
                <div class="stacked-menus-items">
                    <a href="/Home/Index" data-toggle="tooltip" data-placement="right" title="தொடை தொடு" data-original-title="தொடை தொடு">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-devices"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            பாவெழுது
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="stacked-menus-items">
            <a href="#" data-toggle="tooltip" data-placement="right" title="பதிவிறக்கம்" data-original-title="பதிவிறக்கம்">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-download"></span>
                </span>
                <span class="stacked-menu-items-text">
                    பதிவிறக்கம்
                </span>
            </a>
        </div>
        <div class="stacked-menus-items">
            <a href="#" data-toggle="tooltip" data-placement="right" title="உதவி" data-original-title="உதவி">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-help"></span>
                </span>
                <span class="stacked-menu-items-text">
                    உதவி
                </span>
            </a>
        </div>
        <div class="stacked-menus-items">
            <a href="#" data-toggle="modal" data-placement="right" title="கருத்து" data-original-title="கருத்து">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-comment"></span>
                </span>
                <span class="stacked-menu-items-text">
                    கருத்து
                </span>
            </a>
        </div>
        <div class="stacked-menus-items">
            <a href="#" data-toggle="modal" data-placement="right" title="மென்யாப்பைப் பற்றி" data-original-title="மென்யாப்பைப் பற்றி"
               data-target="#modal-about-menyappu">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-info"></span>
                </span>
                <span class="stacked-menu-items-text">
                    மென்யாப்பைப் பற்றி
                </span>
            </a>
        </div>
        <div class="stacked-menus-items">
            <a href="#" data-toggle="tooltip" data-placement="right" title="அமைப்புகள்" data-original-title="அமைப்புகள்">
                <span class="stacked-menu-items-icon">
                    <span class="glyph glyph-settings"></span>
                </span>
                <span class="stacked-menu-items-text">
                    அமைப்புகள்
                </span>
            </a>
        </div>
    </div>

    <div id="bottom"></div>
</div>