<script type="text/x-kendo-template" id="topNavigationBarTemplate">
    # var menYappu = ProsodyResourceManager.get("menYappu"); #
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="\#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <i class="glyph glyph-hamburger"></i>
        </button>
        <a class="navbar-brand no-outline" href="/" data-localize="menYappu">
            <span class="icon-Menyappu_logo" style="margin-right: 5px; vertical-align: middle; font-size: 38px;"></span><span class="ltext"></span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                # var solIlakkanam = ProsodyResourceManager.get("solIlakkanam"); var vetrumaiUrubugal = ProsodyResourceManager.get("vetrumaiUrubugal"); #
                # var partsOfSpeech = ProsodyResourceManager.get("partsOfSpeech"); #
                <a href="\#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-localize="solIlakkanam"> <span class="ltext"></span> <i class="glyph glyph-chevron-down-2"></i></a>
                <ul class="dropdown-menu nosel" role="menu">
                    <li data-localize="vetrumaiUrubugal"><a href="/ProsodyHelp/VetrumaiUrubugal"><span class="ltext"></span></a></li>
                    <li data-localize="partsOfSpeech"><a href="/ProsodyHelp/PartsOfSpeech"><span class="ltext"></span></a></li>
                </ul>
            </li>
            <li class="dropdown">
                # var prosody = ProsodyResourceManager.get("prosody"); var introduction = ProsodyResourceManager.get("introduction"); #
                # var letter = ProsodyResourceManager.get("letter"); var metreme = ProsodyResourceManager.get("metreme"); #
                # var metricalFeet = ProsodyResourceManager.get("metricalFeet");  var linkage = ProsodyResourceManager.get("linkage"); #
                # var metricalLine = ProsodyResourceManager.get("metricalLine");  var ornamentation = ProsodyResourceManager.get("ornamentation"); #
                # var sound = ProsodyResourceManager.get("sound"); #
                <a href="colors.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-localize="prosody"><span class="ltext"></span><i class="glyph glyph-chevron-down-2"></i></a>
                <ul class="dropdown-menu nosel" role="menu">
                    <li data-localize="introduction"><a href="/ProsodyHelp/Introduction"><span class="ltext"></span></a></li>
                    <li class="divider"></li>
                    <li data-localize="letter"><a href="/ProsodyHelp/Letter"><span class="ltext"></span></a></li>
                    <li data-localize="metreme"><a href="/ProsodyHelp/Metreme"><span class="ltext"></span></a></li>
                    <li data-localize="metricalFeet"><a href="/ProsodyHelp/MetricalFeet"><span class="ltext"></span></a></li>
                    <li data-localize="linkage"><a href="/ProsodyHelp/Linkage"><span class="ltext"></span></a></li>
                    <li data-localize="metricalLine"><a href="/ProsodyHelp/MetricalLine"><span class="ltext"></span></a></li>
                    <li data-localize="ornamentation"><a href="/ProsodyHelp/Ornamentation"><span class="ltext"></span></a></li>
                    <li data-localize="sound"><a href="/ProsodyHelp/Sound"><span class="ltext"></span></a></li>
                </ul>
            </li>
            # var paaTypes = ProsodyResourceManager.get("paaTypes"); #
            # var venpaa = ProsodyResourceManager.get("venpaa"); var asiriyappaa = ProsodyResourceManager.get("asiriyappaa"); #
            # var kalippaa = ProsodyResourceManager.get("kalippaa");  var vanjippaa = ProsodyResourceManager.get("vanjippaa"); #
            <li class="dropdown hidden">
                <a href="\#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-localize="paaTypes"><span class="ltext"></span><i class="glyph glyph-chevron-down-2"></i></a>
                <ul class="dropdown-menu nosel" role="menu">
                    <li data-localize="venpaa"><a href="/ProsodyHelp/Venpaa"><span class="ltext"></span></a></li>
                    <li data-localize="asiriyappaa"><a href="/ProsodyHelp/Asiriyappaa"><span class="ltext"></span></a></li>
                    <li data-localize="kalippaa"><a href="/ProsodyHelp/Kalippaa"><span class="ltext"></span></a></li>
                    <li data-localize="vanjippaa"><a href="/ProsodyHelp/Vanjippaa"><span class="ltext"></span></a></li>
                </ul>
            </li>
            # var paaCategories = ProsodyResourceManager.get("paaCategories"); #
            # var venpaavinam = ProsodyResourceManager.get("venpaavinam");  var asiriyappaavinam = ProsodyResourceManager.get("asiriyappaavinam"); #
            # var kalippaavinam = ProsodyResourceManager.get("kalippaavinam");  var vanjippaavinam = ProsodyResourceManager.get("vanjippaavinam"); #
            <li class="dropdown hidden">
                <a href="\#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-localize="paaCategories"><span class="ltext"></span><i class="glyph glyph-chevron-down-2"></i></a>
                <ul class="dropdown-menu nosel" role="menu">
                    <li data-localize="venpaavinam"><a href="/ProsodyHelp/Venpaavinam"><span class="ltext"></span></a></li>
                    <li data-localize="asiriyappaavinam"><a href="/ProsodyHelp/Asiriyappaavinam"><span class="ltext"></span></a></li>
                    <li data-localize="kalippaavinam"><a href="/ProsodyHelp/Kalippaavinam"><span class="ltext"></span></a></li>
                    <li data-localize="vanjippaavinam"><a href="/ProsodyHelp/Vanjippaavinam"><span class="ltext"></span></a></li>
                </ul>
            </li>
        </ul>
        # var search = ProsodyResourceManager.get("search"); #
        <form class="navbar-form navbar-right" role="search">
            <div class="dropdown">
                <button id="language" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="language">
                    <li><a href="\#" data-value="en">English (English)</a></li>
                    <li><a href="\#" data-value="ta">தமிழ் (Tamil)</a></li>
                </ul>
            </div>
            <div class="form-group navbar-search-wrap hidden">
                <input type="search" class="form-control navbar-searchfield" placeholder="#= search #">
                <button type="submit" class="btn btn-default navbar-searchbtn"></button>
            </div>
        </form>
    </div>
</script>