$kuril: $color-darkred;
$nedil: $color-lightorange;
$otru: $color-lightgreen;
$aytham: $color-blue;
$thaninedil: $color-darkred;
$thanikkuril: $color-lightorange;
$kurilotru: $color-lightgreen;
$nedilotru: $color-blue;
$kurilinai: $color-darkred;
$kurilinaiyotru: $color-lightgreen;
$kurinedil: $color-lightorange;
$kurinedilotru: $color-blue;
$naal: $color-darkred;
$malar: $color-lightorange;
$kaasu: $color-lightgreen;
$pirappu: $color-blue;
$thema: $color-darkred;
$pulima: $color-lightorange;
$koovilam: $color-lightgreen;
$karuvilam: $color-blue;

.helptext {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    color: white;
}
.kuril {
    color: $kuril;
}
.nedil {
    color: $nedil;
}
.otru {
    color: $otru;
}
.aytham {
    color: $aytham;
}
.thaninedil {
    color: $thaninedil;
}
.thanikkuril {
    color: $thanikkuril;
}
.kurilotru {
    color: $kurilotru;
}
.nedilotru {
    color: $nedilotru;
}
.kurilinai {
    color: $kurilinai;
}
.kurilinaiyotru {
    color: $kurilinaiyotru;
}
.kurinedil {
    color: $kurinedil;
    }
.kurinedilotru {
    color: $kurinedilotru;
}
.naal {
    color: $naal;
}
.malar {
    color: $malar;
}
.kaasu {
    color: $kaasu;
}
.pirappu {
    color: $pirappu;
}
.thema {
    color: $thema;
}
.pulima {
    color: $pulima;
}
.koovilam {
    color: $koovilam;
}
.karuvilam {
    color: $karuvilam;
}