* {
  webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

$shame_white: #fff;
$shame_black: #000;
$shame_hoverlue: #0161b2;
$shame_rpanelbg: #f9f9f9;
$shame_bordercol: #dddddd;
$shame_leftpanelsize: 280px;
$shame_rightpanelsize: 280px;
$shame_leftpanelsize_collapsed: 44px;
$shame_rightpanelsize_collapsed: 44px;
$shame_lefticons_fs: 24px;
$shame_righticons_fs: 24px;

$shame_green: #60a917;