.fullwidth{
  width: 100%;
}
.fullheight{
  height: 100%;
}

.p-absolute{
  position: absolute;
}
.p-relative{
  position: relative;
}
.p-cover{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.v-top{
  vertical-align: top;
}