$kuril: $color-darkred;
$nedil: $color-lightorange;
$otru: $color-lightgreen;
$aytham: $color-blue;
$thaninedil: $color-darkred;
$thanikkuril: $color-lightorange;
$kurilotru: $color-lightgreen;
$nedilotru: $color-blue;
$kurilinai: $color-darkred;
$kurilinaiyotru: $color-lightgreen;
$kurinedil: $color-lightorange;
$kurinedilotru: $color-blue;
$naal: $color-darkred;
$malar: $color-lightorange;
$kaasu: $color-lightgreen;
$pirappu: $color-blue;
$thema: $color-darkred;
$pulima: $color-lightorange;
$koovilam: $color-lightgreen;
$karuvilam: $color-blue;
$sari: $color-green;
$thavaru: $color-darkred;

.helptext {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    color: white;
}
.kuril {
    color: $kuril;
}
.nedil {
    color: $nedil;
}
.otru {
    color: $otru;
}
.aytham {
    color: $aytham;
}
.thaninedil {
    color: $thaninedil;
}
.thanikkuril {
    color: $thanikkuril;
}
.kurilotru {
    color: $kurilotru;
}
.nedilotru {
    color: $nedilotru;
}
.kurilinai {
    color: $kurilinai;
}
.kurilinaiyotru {
    color: $kurilinaiyotru;
}
.kurinedil {
    color: $kurinedil;
    }
.kurinedilotru {
    color: $kurinedilotru;
}
.naal {
    color: $naal;
}
.malar {
    color: $malar;
}
.kaasu {
    color: $kaasu;
}
.pirappu {
    color: $pirappu;
}
.thema {
    color: $thema;
}
.pulima {
    color: $pulima;
}
.koovilam {
    color: $koovilam;
}
.karuvilam {
    color: $karuvilam;
}
.sari {
    color: $sari;
}
.thavaru {
    color: $thavaru;
}

/* simple */
.flip-container_click {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;

    border: 1px solid $color-green;
}

/*
.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	filter: FlipH;
    -ms-filter: "FlipH";
}
*/

/* START: Accommodating for IE */
.flip-container_click.flipped .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container_click.flipped .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* END: Accommodating for IE */

.flip-container, .front, .back {
	width: 320px;
	height: 427px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;

	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);

	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateY(0deg);

	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateY(0deg);

	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	background: white;
	z-index: 2;
}

.back {
	background: lightblue;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}